<div class="container mx-auto p-4">
  <hlm-sheet side="right">
    <button id="carrito" variant="success" brnSheetTrigger hlmBtn (click)="detalleTotal()">
      detalle
    </button>
    <hlm-sheet-content *brnSheetContent="let ctx">
      <hlm-sheet-header>
        <h3 hlmSheetTitle>Carrito de compra</h3>
      </hlm-sheet-header>
      <div class="py-4 grid gap-4">
        <div *ngFor="let item of carrito">
          <div class="flex justify-between">
            <span>{{ item.pruduct }}</span>
            <span>{{ item.priceSingle }}</span>
            <span>{{ item.quantity }}</span>
            <button hlmBtn variant="destructive" (click)="quitarItem(item)">Eliminar</button>
          </div>
        </div>
        <div class="flex justify-between">
          <span>Total:</span>
          <span>${{ total }} MXN</span>
        </div>
      </div>
    </hlm-sheet-content>
  </hlm-sheet>
  <div class="flex justify-end mb-4">
    <hlm-dialog class="w-[500px]">
      <button id="edit-profile" variant="success" brnDialogTrigger hlmBtn>Generar venta</button>
      <hlm-dialog-content class="min-w-[950px] w-full bg-success" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Nueva orden</h3>
        </hlm-dialog-header>
        <form>
          <div class="grid grid-cols-4 gap-4">
            <div *ngFor="let producto of (productos$ | async)">
              <section class="w-48 h-40 border border-solid border-black rounded-md" hlmCard>
                <div hlmCardHeader>
                  <h3 hlmCardTitle>
                    {{ producto.nombre }}
                  </h3>
                  <p hlmCardDescription>
                    {{ producto.precio }}
                  </p>
                </div>
                <!-- <div hlmCardBody>
                  <div *ngFor="let item of producto.ingredientes">
                    <span>{{ item.materiaPrima.material }}</span>
                  </div>
                </div> -->
                <div hlmCardFooter class="justify-between">
                  <button hlmBtn variant="primary" (click)="addToCart(producto)">Agregar</button>
                </div>
              </section>
            </div>
          </div>
          <!-- <div *ngFor="let product of (productos$ | async)">
            <div class="card">
              <div class="card-body">
                <h4>{{ product.nombre }}</h4>
                <p>{{ product.precio }}</p>
                <p *ngFor="let item of product.ingredientes">
                  <span>{{item.materiaPrima.material}}</span>
                </p>
              </div>
            </div>
          </div> -->
        </form>
        <hlm-dialog-footer>
          <button hlmBtn type="submit">Registrar orden</button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>
  <div class="overflow-y-auto min-w-full">
    <hlm-table class="w-full min-w-full">
      <hlm-trow>
        <hlm-th class="flex-1">Fecha</hlm-th>
        <hlm-th class="flex-1">Total</hlm-th>
        <hlm-th class="flex-1">Detalle</hlm-th>
        <hlm-th class="flex-1">Estatus</hlm-th>
        <hlm-th class="flex-1">Acciones</hlm-th>
      </hlm-trow>
      <hlm-trow *ngIf="(orders$ | async)?.length === 0">
        <hlm-td colspan="6">No hay registros</hlm-td>
      </hlm-trow>
      <hlm-trow *ngFor="let order of (orders$ | async); trackBy: trackByOrderId">
        <hlm-td class="flex-1">{{ order.orderDate }}</hlm-td>
        <hlm-td class="flex-1">{{ order.total }}</hlm-td>
        <hlm-td class="flex-1">
          <button variant="success" hlmBtn (click)="getDetail(order || 0)">
            Detalle
          </button>
        </hlm-td>
        <hlm-td class="flex-1">{{ order.status }}</hlm-td>
        <hlm-td class="flex-1">
          <button hlmBtn variant="success" (click)="onGestion(order)">
            Gestionar
          </button>
        </hlm-td>
      </hlm-trow>
    </hlm-table>
  </div>
</div>

<hlm-dialog class="w-[500px]">
  <button class="hidden" hlmBtn variant="success" cl brnDialogTrigger id="detail-show">
    Detalle
  </button>
  <hlm-dialog-content class="min-w-[800px] w-full bg-success" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Detalle de la orden</h3>
    </hlm-dialog-header>
    <form>

    </form>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog class="w-[500px]">
  <button class="hidden" hlmBtn variant="success" brnDialogTrigger id="edit-status">
    Gestionar
  </button>
  <hlm-dialog-content class="min-w-[800px] w-full bg-success" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Gestionar orden</h3>
    </hlm-dialog-header>
    <form>

    </form>
  </hlm-dialog-content>
</hlm-dialog>
