<home-navbar></home-navbar>
<section class="px-8 py-12 flex justify-evenly items-center flex-col md:flex-row space-x-8">
  <div class="flex flex-col items-center space-y-4">
    <hlm-avatar variant="profile">
      <img
        [src]="imgUrl()"
        width="250"
        alt='logo'
        hlmAvatarImage
      />
      <span class='text-black bg-white' hlmAvatarFallback>
        {{ initials() }}
      </span>
    </hlm-avatar>

    <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">
      Cambiar foto de perfil
    </label>
   <div>
    <input
    hlmInput
    id="file_input"
    type="file"
    (change)="onImageChange($event)"
    accept="image/png, image/jpeg, image/jpg"
  />
   </div>
  </div>

  <div class="flex flex-col space-y-8">
    <h2 class="text-2xl font-bold">
      Mi perfil
    </h2>
    <section>
      <h3 class="text-xl font-semibold mb-4">
        Datos personales
      </h3>
      <form>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="name" class="block mb-2">
              Nombre
              <input
                type="text"
                id="name"
                name="name"
                hlmInput
                ngModel
                [formField]="formModel.controls.name"
                class="block w-full mt-1"
              />
            </label>
            @if (formModel.controls.name.touched()) {
              @if(formModel.controls.name.hasError('required')) {
            <div class="text-red-500 text-sm">El nombre es requerida</div>
            }
             @else if (formModel.controls.name.hasError('maxLength')) {
            <div class="text-red-500 text-sm">
              El nombre debe tener menos de 50 caracteres
            </div>
            } }
          </div>

          <div>
            <label for="lastName" class="block mb-2">
              Apellido
              <input
                type="text"
                id="lastName"
                name="lastName"
                hlmInput
                ngModel
                [formField]="formModel.controls.lastName"
                class="block w-full mt-1"
              />
            </label>
            @if (formModel.controls.lastName.touched()) {
              @if(formModel.controls.lastName.hasError('required')) {
            <div class="text-red-500 text-sm">El apellido es requerida</div>
            }
             @else if (formModel.controls.lastName.hasError('maxLength')) {
            <div class="text-red-500 text-sm">
              El apellido debe tener menos de 50 caracteres
            </div>
            } }
          </div>

          <div class="col-span-2">
            <label for="email" class="block mb-2">
              Correo electrónico
              <input
                type="email"
                id="email"
                name="email"
                hlmInput
                ngModel
                [formField]="formModel.controls.email"
                class="block w-full mt-1"
              />
            </label>
            @if (formModel.controls.email.touched()) {
              @if(formModel.controls.email.hasError('required')) {
            <div class="text-red-500 text-sm">El correo electrónico es requerida</div>
            }
            @if (formModel.controls.email.hasError('pattern')) {
            <div class="text-red-500 text-sm">El correo electrónico no es válido</div>
            }
             @else if (formModel.controls.email.hasError('maxLength')) {
            <div class="text-red-500 text-sm">
              El correo electrónico e debe tener menos de 50 caracteres
            </div>
            } }
          </div>

         <div class="col-span-2">
          <div>
            <label for="ActualPassword" class="block mb-2">
              Contraseña actual
              <input
                type="password"
                id="ActualPassword"
                name="ActualPassword"
                hlmInput
                ngModel
                [formField]="formModel.controls.password.controls.actualPassword"
                class="block w-full mt-1"
              />
            </label>
          </div>

          <div>
            <label for="newPassword" class="block mb-2">
              Nueva contraseña
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                hlmInput
                ngModel
                [formField]="formModel.controls.password.controls.newPassword"
                class="block w-full mt-1"
              />
            </label>
            <div>
              <label for="ConfirmPassword" class="block mb-2">
                Contraseña actual
                <input
                  type="password"
                  id="ConfirmPassword"
                  name="ConfirmPassword"
                  hlmInput
                  ngModel
                  [formField]="formModel.controls.password.controls.confirmPassword"
                  class="block w-full mt-1"
                />
              </label>

              @if(formModel.controls.password.controls.confirmPassword.touched()) {
                @if(formModel.controls.password.controls.confirmPassword.hasError('equalsTo')) {
                  <div class="text-red-500 text-sm">La confirmación de la contraseña es requerida</div>
                }
              }

            </div>
            <div class="flex flex-col md:flex-row items-center justify-between  mt-4 w-full gap-x-4">
              <a routerLink="/edit/address"
              hlmBtn
              class="text-sm  hover:underline bg-white border border-gray-300"
              >
                Editar dirección
              </a>
              <a routerLink="/edit/payment"
              class="text-sm hover:underline bg-white border border-gray-300"
              hlmBtn
              >
                Editar método de pago
              </a>


              <button
              hlmBtn
                class="bg-secondary text-white rounded-md  flex justify-center items-center hover:bg-secondary-dark transition-colors duration-300"
                [disabled]="disabled()"
                (click)="onSaveData()"
              >
                Guardar cambios
              </button>

    <hlm-alert-dialog>
      <button id='edit-profile' variant='outline' brnAlertDialogTrigger hlmBtn
      class=" bg-error text-white rounded-md flex justify-center items-center hover:bg-error/90 transition-colors duration-300"
      >Eliminar cuenta</button>
      <hlm-alert-dialog-content *brnAlertDialogContent='let ctx'>
        <hlm-alert-dialog-header>
          <h3 hlmAlertDialogTitle>¿Estás seguro que deseas eliminar tu cuenta?</h3>
          <p hlmAlertDialogDescription>
            Esta acción no se puede deshacer y perderás todos tus datos.
          </p>
        </hlm-alert-dialog-header>
        <hlm-alert-dialog-footer>
          <button hlmAlertDialogCancel (click)='ctx.close()'>Cancelar</button>
          <button hlmAlertDialogAction (click)='ctx.close()'>Eliminar cuenta</button>
        </hlm-alert-dialog-footer>
      </hlm-alert-dialog-content>
    </hlm-alert-dialog>

            </div>
          </div>
         </div>

        </div>


      </form>

    </section>
  </div>
</section>
