<home-navbar></home-navbar>
<div class="mt-10 px-20">
  <!-- Contenedor para el buscador y el selector -->
  <div class="flex items-center mb-4 space-x-4">
    <!-- Buscador -->
    <input 
      type="text" 
      placeholder="Buscar órdenes..." 
      [(ngModel)]="searchTerm"
      class="p-2 border border-gray-300 rounded-lg w-80"
    />

    <!-- Selector -->
    <select 
      [(ngModel)]="selectedFilter"
      class="p-2 border border-gray-300 rounded-lg"
    >
      <option value="">Todos</option>
      <option value="Ordenado">Ordenado</option>
      <option value="Aceptado">Aceptado</option>
      <option value="Preparacion">Preparación</option>
      <option value="Enviado">Enviado</option>
      <option value="Recibido">Recibido</option>
    </select>
  </div>

  <!-- Mostrar errores -->
  <div *ngIf="error" class="text-red-500">{{ error }}</div>

  <!-- Lista de órdenes -->
  <div *ngIf="orders.length > 0" class="space-y-6">
    <div 
      *ngFor="let order of filteredOrders()" 
      class="bg-white border border-gray-200 rounded-lg shadow-md p-6 flex flex-col space-y-4"
    >
      <div class="flex justify-between">
        <div>
          <h5 class="mb-2 text-2xl font-bold text-gray-900">Orden ID: {{ order.ticket }}</h5>
          <p class="mb-3 text-gray-700">Total: ${{ order.total }}</p>
        </div>
        <div class="flex flex-col items-center mt-4">
          <!-- Semáforo -->
          <div class="flex space-x-2 mb-2">
            <button [ngStyle]="{'background-color': getStatusColor(order.status, 1)}" class="w-3 h-3 rounded-full"></button>
            <button [ngStyle]="{'background-color': getStatusColor(order.status, 2)}" class="w-3 h-3 rounded-full"></button>
            <button [ngStyle]="{'background-color': getStatusColor(order.status, 3)}" class="w-3 h-3 rounded-full"></button>
            <button [ngStyle]="{'background-color': getStatusColor(order.status, 4)}" class="w-3 h-3 rounded-full"></button>
            <button [ngStyle]="{'background-color': getStatusColor(order.status, 5)}" class="w-3 h-3 rounded-full"></button>
          </div>
          <!-- Leyenda del estatus -->
          <p class="text-gray-700 mb-2">{{ order.status }}</p>
          <!-- Botón de ver estatus -->
          <button 
            [ngStyle]="{'background-color': order.status === 'Recibido' ? 'gray' : '#8CC896', 'color': order.status === 'Ordenado' ? 'lightgray' : 'black'}"
            [disabled]="order.status === 'Ordenado'"
            (click)="viewStatus(order.id)"
            class="inline-flex items-center px-4 py-2 text-sm font-medium rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            Ver Estatus
          </button>
        </div>
      </div>
      <ul class="space-y-4">
        <li *ngFor="let detail of order.detailOrders" class="flex items-center space-x-4">
          <div class="w-24 h-24 bg-gray-200 rounded-lg flex-shrink-0" *ngIf="productos[detail.idProduct]">
            <img [src]="'http://localhost:5000/static/productos/' + detail.idProduct + '.webp'" alt="" class="w-full h-full object-cover rounded-lg">
          </div>
          <div class="flex flex-col justify-around">
            <h4 class="text-lg font-medium text-gray-900">{{ productos[detail.idProduct].nombre || 'Desconocido' }}</h4>
            <p class="text-gray-500">Cantidad: {{ detail.quantity }}</p>
            <p class="mb-3 text-gray-700">Total: ${{ order.total }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Mensaje si no hay órdenes -->
  <div *ngIf="orders.length === 0" class="text-center text-gray-500">
    No tienes órdenes aún.
  </div>
</div>
