<div>
  <app-breadcrumb [separator]="'>'"></app-breadcrumb>
</div>
<div class=" w-[calc(100vw-4rem)] h-[calc(100vh-20rem)] flex flex-col justify-center items-center sticky bottom-0 p-8 space-y-8">
  <h1 class="text-2xl font-bold text-center mb-4">
    Elige la forma de entrega
  </h1>

  <div class="w-full max-w-md space-y-4">
    <!-- Envio a domicilio -->
    <div>
      <h2 class="text-xl font-semibold mb-2">
        Envío a domicilio
      </h2>
      
      <!-- Lista de direcciones -->
      @for (domicilio of user().direcciones; track $index) {
        <div class="flex justify-between items-center borde rounded-lg px-4 py-2 my-2 shadow-lg  w-full border border-gray-50/30 bg-slate-50">
          <div class="flex items-center space-x-2">
            <lucide-icon name="house"></lucide-icon>
            <span>{{domicilio.calle}}, {{domicilio.colonia}}</span>
          </div>
          <span>{{user().name}} {{user().lastName}}</span>
          <button
            hlmBtn
            class="px-4 py-2 bg-[#785131] text-white rounded hover:bg-blue-600 transition-colors"
            (click)="onSelectdAddress(domicilio)"
          >
            Usar esta dirección
          </button>
        </div>
      }
      @empty {
        <span class="block text-center text-gray-500 my-4">
          No tienes direcciones guardadas
        </span>
      
      }
      <div>
        <hlm-sheet>
          <div class="grid grid-cols-2 gap-2">
            <button id="bottom"  class=" text-center text-blue-500 cursor-pointer flex items-center space-x-2" brnSheetTrigger side="bottom">
              <lucide-angular name="plus"></lucide-angular>
        Agregar dirección
            </button>
          </div>
          <hlm-sheet-content *brnSheetContent="let ctx">
            <hlm-sheet-header>
              <h3 hlmSheetTitle>Agregar dirección</h3>
              <p hlmSheetDescription>Completa los campos para agregar una nueva dirección</p>
            </hlm-sheet-header>
            <form class="grid grid-cols-2 gap-4">
              <div class=" col-span-2">
                <label
                class="block text-sm font-medium text-gray-700"
                >Calle</label>
                <input
                  type="text"
                  hlmInput
                  ngModel
                  class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4"
                  [ngModelOptions]="{standalone: true}"
                  [formField]="formModel.controls.calle"
                />
                @if (formModel.controls.calle.touched()) {
                  @if (formModel.controls.calle.hasError('required')) {
                    <div class="text-red-500 text-sm">El correo electrónico es requerido</div>
                  } @else if (formModel.controls.calle.hasError('maxLength')) {
                    <div class="text-red-500 text-sm">El correo electrónico debe tener menos de 50 caracteres</div>
                  } @else if (formModel.controls.calle.hasError('email')) {
                    <div class="text-red-500 text-sm">El correo electrónico no es válido</div>
                  }
                }
              </div>
              <div>
                <label
                class="block text-sm font-medium text-gray-700"
                >Colonia</label>
                <input
                  type="text"
                  hlmInput
                  ngModel
                  [ngModelOptions]="{standalone: true}"
                  [formField]="formModel.controls.colonia"
                  class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" 
                />
                @if (formModel.controls.colonia.touched()) {
                  @if (formModel.controls.colonia.hasError('required')) {
                    <div class="text-red-500 text-sm">La colonia es requerida</div>
                  } @else if (formModel.controls.colonia.hasError('maxLength')) {
                    <div class="text-red-500 text-sm">La colonia debe tener menos de 50 caracteres</div>
                  }
                }
              </div>
              <div>
                <label>Ciudad</label>
                <input
                  type="text"
                  hlmInput
                  ngModel
                  [ngModelOptions]="{standalone: true}"
                  [formField]="formModel.controls.ciudad"
                  class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" 
                />
                @if (formModel.controls.ciudad.touched()) {
                  @if (formModel.controls.ciudad.hasError('required')) {
                    <div class="text-red-500 text-sm">La ciudad es requerida</div>
                  } @else if (formModel.controls.ciudad.hasError('maxLength')) {
                    <div class="text-red-500 text-sm">La ciudad debe tener menos de 50 caracteres</div>
                  }
                }
              </div>
              <div>
                <label>
                  Número exterior
                </label>
                <input
                  type="text"
                  hlmInput
                  ngModel
                  [ngModelOptions]="{standalone: true}"
                  [formField]="formModel.controls.numeroExterior"
                  class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
                @if (formModel.controls.numeroExterior.touched()) {
                  @if (formModel.controls.numeroExterior.hasError('required')) {
                    <div class="text-red-500 text-sm">El número exterior es requerido</div>
                  } @else if (formModel.controls.numeroExterior.hasError('maxLength')) {
                    <div class="text-red-500 text-sm">El número exterior debe tener menos de 10 caracteres</div>
                  }
                }
              </div>
              <div>
                <label>Código postal</label>
                <input
                  type="text"
                  hlmInput
                  ngModel
                  [ngModelOptions]="{standalone: true}"
                  [formField]="formModel.controls.codigoPostal"
                  class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
                @if (formModel.controls.codigoPostal.touched()) {
                  @if (formModel.controls.codigoPostal.hasError('required')) {
                    <div class="text-red-500 text-sm">El código postal es requerido</div>
                  } @else if (formModel.controls.codigoPostal.hasError('maxLength')) {
                    <div class="text-red-500 text-sm">El código postal debe tener menos de 10 caracteres</div>
                  }
                }
              </div>
              
             
              <div class="col-span-2">
               <div class="flex justify-between">
                
                  <button hlmBtn
                  variant="primary"
                  (click)="onCreatedAddress()"
                  >Agregar dirección</button>
                 
      
                
                  
               </div>
              </div>
            </form>
            <hlm-sheet-footer>
              <button hlmBtn
                  variant="destructive"
                  class="text-white"
                  (click)="onClearForm()"
                  >Cancelar</button>
            </hlm-sheet-footer>
          </hlm-sheet-content>
        </hlm-sheet>
      </div>
    </div>

    <!-- Recoger en tienda -->
    <div>
      <h2 class="text-xl font-semibold mb-2">
        Recoger en tienda
      </h2>
      <div class="flex justify-between items-center borde rounded-lg px-4 py-2 my-2 shadow-lg  w-full border border-gray-50/30 bg-slate-50">
        <div class="flex items-center space-x-2">
          <lucide-icon name="store"></lucide-icon>
          <span>Heaven</span>
        </div>
        <button
          hlmBtn
          class="px-4 py-2 bg-[#785131] text-white rounded transition-colors"
          (click)="onOrderToStore()"
        >
          Recoger
        </button>
      </div>
    </div>
    
  </div>
</div>
