<!-- <main> -->
    
    <footer class="h-1/5 pt-3 px-10 grid gap-4 grid-cols-12 grid-rows-2 items-center justify-between relative bottom-0 text-white" style="background-color: #452103;">
        <!-- Logo y redes -->
        <div class="flex flex-grow basis-0 col-span-2">

            <div class="grid grid-row-1 grid-cols-3">
                <img class="col-span-3 mb-3 h-full" src="http://127.0.0.1:5000/static/logo.webp" style="max-width: 50px;" alt="Logo-Heaven">
                <lucide-icon name="facebook"></lucide-icon>
                <lucide-icon name="instagram"></lucide-icon>
                <lucide-icon name="twitter"></lucide-icon>
            </div>

        </div>

        <div class="col-span-8 flex flex-grow basis-0 justify-center items-center">
            <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
                <li class="hover:bg-[#DCAA8C] hover:rounded-md hover:text-black hover:font-bold"><a href="#sectionValores">Sobre nosotros</a></li>
                <li class="hover:bg-[#DCAA8C] hover:rounded-md hover:text-black hover:font-bold"><a href="#">Contáctanos</a></li>
                <li class="hover:bg-[#DCAA8C] hover:rounded-md hover:text-black hover:font-bold"><a routerLink="products">Comprar</a></li>
                <li class="hover:bg-[#DCAA8C] hover:rounded-md hover:text-black hover:font-bold"><a routerLink="products">Menú</a></li>
            </ul>
        </div>


        <div class="felx flex-grow  basis-0 col-span-2 items-center justify-center text-center ">
            <button hlmBtn variant="outline" target="_blank" routerLink="register" class="text-xl" size="lg"> Regístrate</button>
        </div> 

        <div class="col-span-12 text-sm">
            <p>Copyright  ©1999-2024 El presente canal de instrucción o ambiente, es operado por  DeRemate.Com de México, S. de R.L. de C.V. identificada bajo la marca  comercial "Heaven".
                Blvd. Miguel de Cervantes Saavedra 161, Pisos 14 y 15, Granada, Miguel Hidalgo, 11520 Ciudad de México, CDMX, México</p>
        </div>

    </footer>

<!-- </main> -->


