
<div class="flexw-[calc(100vw-4rem)] h-[calc(100vh-20rem)] flex-col items-center justify-between bg-slate-100">
  <form class="bg-white w-full max-w-3xl mx-auto px-6 py-8 shadow-md rounded-md flex">
  <div class="w-1/2 pr-8 border-r-2 border-slate-300">
    <label class="text-neutral-800 font-bold text-sm mb-2 block">Numero de tarjeta:</label>
    <input type="text" class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
    <div class="flex gap-x-2 mb-4 items-center">
      <div class="flex-1">
        <label class="text-neutral-800 font-bold text-sm mb-2 block">Expiración:</label>
        <input type="text" class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
      </div>
      <div class="flex-1">
        <label class="text-neutral-800 font-bold text-sm mb-2 block">CCV:</label>
        <input type="text" class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
      </div>
    </div>
  
    <label class="text-neutral-800 font-bold text-sm mb-2 block">Titular de la tarjeta:</label>
    <input type="text" class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" />
  </div>
  <div class="w-1/2 pl-8">
    <div class="w-full h-56" style="perspective: 1000px">
      <div class="crediCard relative cursor-pointer transition-transform duration-500" style="transform-style: preserve-3d">
        <div class="w-full m-auto rounded-xl shadow-2xl absolute" style="backface-visibility: hidden">
          <img src="https://i.ibb.co/B2vQ0xG/Card-1.jpg" class="object-cover w-full h-full" />
        </div>
        <div class="w-full m-auto rounded-xl shadow-2xl absolute" style="backface-visibility: hidden; transform: rotateY(180deg)">
          <img src="https://i.ibb.co/ThGc8mn/Card-2.jpg" class="object-cover w-full h-full" />
        </div>
      </div>
    </div>
   
  </div>
  </form>
  </div>
  
  