

<div class="p-1 flex flex-wrap items-center justify-center" >
  <div class="flex-shrink-0 m-3 relative overflow-hidden rounded-lg max-w-[18rem] shadow-xl group bg-transparent border border-[#aeadad]">
      <button (click)="redirectoToDetail(id)" class="w-full">
      <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
           viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#aeadad" />
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#aeadad" />
      </svg>
      <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
             style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
        </div>
        <img class="relative rounded-md" [src]="imageUrl()" alt="Product Image"
        width="400"
        height="400"
        (error)="onImageError($event)" 
        >
      </div>
      <div class="relative text-black px-6 pb-6 mt-3">
        <span class=" opacity-75 -mb-1 text-wrap bg-white rounded-md px-2 py-1"
        >{{ category() }}</span>
        <div class="flex justify-between items-center">
          <span hlmBadge class="text-dark" variant="outline"
          >{{ title() }}</span>
          <span class=" text-white rounded-full bg-[#dcaa8c] text-xs font-bold px-3 py-2 leading-none flex items-center text-wrap"  >
           <app-money [amount]="price()" [baseClass]="'text-white'"></app-money>
          </span>
        </div>
      </div>
    </button>
    </div>
  </div>
  