<div class="container mx-auto max-h-screen overflow-y-auto w-full p-4">
  <div class="flex-1 flex justify-center">
    <h1 class="text-5xl font-bold mt-1 mb-2 text-black">Espacios</h1>
  </div>
  <div class="flex justify-end my-5 me-5 pr-5">
    <div>
      <hlm-dialog [state]="states()">
        <button id="add-space" brnDialogTrigger hlmBtn (click)="onAdd()">Agregar Espacio</button>
       <form  (submit)="onSubmit()">
          <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
            <hlm-dialog-header>
              <h3 hlmDialogTitle>{{ editMode ? 'Editar Espacio' : 'Nuevo Espacio' }}</h3>
              <p hlmDialogDescription></p>
            </hlm-dialog-header>
            <div class="py-4 grid gap-4">
              <div>
                <label class="text-start">
                  Nombre
                  <input
                    class="w-80"
                    hlmInput
                    type="text"
                    placeholder="Nombre"
                    name="name"
                    ngModel
                    [(ngModel)]="formModel.controls.name.value"
                    required
                    maxlength="50"
                  />
                </label>
                @if (formModel.controls.name.touched()) {
                  @if (formModel.controls.name.hasError('required')) {
                    <div class="text-red-500 text-sm">El nombre es requerido</div>
                  }
                }
              </div>
              <div>
                <label class="text-start">
                  Capacidad de Personas
                  <input
                    class="w-80"
                    hlmInput
                    type="number"
                    placeholder="Capacidad de Personas"
                    name="canPersonas"
                    ngModel
                    [(ngModel)]="formModel.controls.canPersonas.value"
                    required
                    min="1"
                  />
                </label>
                
                @if (formModel.controls.canPersonas.touched()) {
                  @if (formModel.controls.canPersonas.hasError('required')) {
                    <div class="text-red-500 text-sm">La capacidad de personas es requerida</div>
                  }
                  @if (formModel.controls.canPersonas.hasError('min')) {
                    <div class="text-red-500 text-sm">La capacidad de personas debe ser al menos 1</div>
                  }
                }
              </div>
              <div>
                <label class="text-start">
                  Precio
                  <input
                    class="w-80"
                    hlmInput
                    type="number"
                    placeholder="Precio"
                    name="precio"
                    ngModel
                    [(ngModel)]="formModel.controls.precio.value"
                    required
                    min="0"
                    step="0.01"
                  />
                </label>
                 @if (formModel.controls.precio.touched()) {
                  @if (formModel.controls.precio.hasError('required')) {
                    <div class="text-red-500 text-sm">El precio es requerido</div>
                  }
                  @if (formModel.controls.precio.hasError('min')) {
                    <div class="text-red-500 text-sm">El precio debe ser al menos 0</div>
                  }
                 }
              </div>
              
              <div>
                <label class="text-start">
                  Descripción
                  <textarea
                    class="w-80"
                    hlmInput
                    placeholder="Descripción"
                    name="descrip"
                    ngModel
                    [(ngModel)]="formModel.controls.descrip.value"
                    required
                    maxlength="200"
                  ></textarea>
                </label>  
                @if (formModel.controls.descrip.touched()) {
                  @if (formModel.controls.descrip.hasError('required')) {
                    <div class="text-red-500 text-sm">La descripción es requerida</div>
                  }
                }
              </div>

              @if (!isEditing()){
              <div class="items-center grid grid-cols-4 gap-4">
                <label hlmLabel for="imagen-add" class="text-right">Imagen</label>
                <input hlmInput type="file" id="imagen-add" name="imagen" class="col-span-3"
                  (change)="onFileSelected($event)" />
              </div>
            }
            </div>
            <hlm-dialog-footer>
              @if(isEditing()) {
                <button hlmBtn variant="outline" (click)="onCancel()">dddddddddd</button>
                <button hlmBtn type="submit"
                (click)="onSubmit()"
                >Guardar</button>
              } @else {
                <button hlmBtn variant="outline">Cancelar</button>
                <button hlmBtn
                (click)="onSubmit()"
                >Crear</button>
              }
            </hlm-dialog-footer>
          </hlm-dialog-content>
        </form>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-5">
          <div *ngFor="let space of (filteredEspacio$ | async); trackBy: trackByProductId"
               class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between">
            <div>
              <img [src]="getImagenUrl(space.idEspacio!)" alt="{{ space.nombre }}" class="w-full h-48 object-cover rounded-t-lg"
                   (error)="onImageError($event)">
              <div class="p-4">
                <h2 class="text-xl font-bold">{{ space.nombre}}</h2>
                <p class="text-gray-600" style="text-align: justify;">{{ space.descripcion }}</p>
              </div>
            </div>
            <div class="flex justify-end space-x-2 pe-3">
              <button id="add-space" brnDialogTrigger hlmBtn (click)="onEdit(space)" class="bg-white text-secondary px-4 py-2 rounded border border-secondary">
                Editar
              </button>
              
              <button *ngIf="space.estatus === 'Activo'" (click)="onDelete(space.idEspacio!)" class="bg-secondary text-white px-4 py-2 rounded">Desactivar</button>
              <button *ngIf="space.estatus === 'Inactivo'" (click)="onActivar(space.idEspacio!)" class="bg-secondary text-white px-4 py-2 rounded">Activar</button>

            </div>
          </div>
        </div>
      </hlm-dialog>
    </div>
  </div>
  <div class="flex flex-row justify-between gap-4 px-20 py-5">
    <input
      hlmInput
      class="w-full md:w-80"
      placeholder="Buscar por nombre"
      [ngModel]="_nameFilter()"
      (ngModelChange)="_rawFilterInput.set($event)"
    />
    <ng-template #menu>
      <hlm-menu class="w-32 bg-white">

        @for (column of _brnColumnManager.allColumns; track column.name) {
          <button
            hlmMenuItemCheckbox
            class="bg-white hover:bg-gray-100"
            [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
            [checked]="_brnColumnManager.isColumnVisible(column.name)"
            (triggered)="_brnColumnManager.toggleVisibility(column.name)"
          >
            <hlm-menu-item-check  class="bg-white"/>
            <span>{{ column.label }}</span>
          </button>
        }
      </hlm-menu>
    </ng-template>
  </div>
  
</div>