
<hlm-sheet>
  <button brnSheetTrigger side="right">
    <lucide-icon name="shopping-cart"></lucide-icon>
  </button>
  <hlm-sheet-content *brnSheetContent='let ctx'
  class="bg-white p-4 w-96 h-screen overflow-y-auto"
  >
      <hlm-sheet-header class="flex flex-col items-center bg-white/75">
          <h3 hlmSheetTitle>Edit Profile</h3>
          <p hlmSheetDescription>Make changes to your profile here. Click save when you're done.</p>
      </hlm-sheet-header>
  </hlm-sheet-content>
</hlm-sheet>
