<hlm-sheet 
>
  <button brnSheetTrigger
  side="right" class="text-white mt-1 flex flex-row items-center space-x-2"
  
  >
    
    <lucide-icon name="shopping-cart"></lucide-icon> <span
    class="hidden md:block"
    >
      Mi carrito
    </span>
  </button>
  <hlm-sheet-content 
  
  *brnSheetContent='let ctx' class="bg-white p-4 w-[1000px] h-screen flex flex-col justify-between">
    <hlm-sheet-header 
    
    class="flex flex-col items-center bg-white/75 w-full">
      <h3 hlmSheetTitle>Carrito de compra</h3>
      <div class="w-full p-2 border-b border-gray-200">
        <div class="flex justify-between">
          <span>Producto</span>
          <span>Cantidad</span>
          <span>Precio</span>
          <span>Acciones</span>
        </div>
      </div>
      <div *ngFor="let item of items(); trackBy: trackById" class="w-full p-2 border-b border-gray-200">
        <div class="flex justify-between items-center">
          <div class="flex items-center space-x-2">
            <img [src]="'http://localhost:5000/static/productos/' + item.id + '.webp'" alt="imagen" class="w-16 h-16 object-cover rounded-sm">
          </div>
          <span>{{item.quantity}}</span>
          <span>
            <app-money [amount]="(item.precio * item.quantity) - (item.discount ?? 0)"></app-money>
          </span>
          
          <hlm-dialog [state]="'closed'">
            <button class="text-black px-4 py-2 rounded hover:bg-gray-200" brnDialogTrigger hlmBtn
            [disabled]="hasDiscount(item)"
            >
              <lucide-icon name="ellipsis"></lucide-icon>
            </button>
            <hlm-dialog-content *brnDialogContent="let ctx" class="bg-white">
              <hlm-dialog-header>
                <h3 brnDialogTitle hlm>Editar Producto</h3>
                <p brnDialogDescription hlm>Edita la cantidad del producto o elimínelo del carrito.</p>
              </hlm-dialog-header>
              <div class="mt-4">
                <label>Cantidad:</label>
                <div class="flex items-center border border-gray-300 rounded bg-white justify-between">
                  @if (item.quantity ==1) {
                    <button (click)="removeItem(item.id)" aria-label="Decrementar" class="p-2 bg-gray-300"
                    [disabled]="isLoaded()"
                    >
                      <lucide-icon name="trash"></lucide-icon>
                    </button>
                  }
                  @else {
                    <button  (click)="decrement(item.id)" aria-label="Decrementar" class="p-2 bg-gray-300"
                    [disabled]="isLoaded()"
                    >
                      <lucide-icon name="minus"></lucide-icon>
                    </button>
                  }

                  <input type="text" [(ngModel)]="item.quantity" class="w-10 h-10 text-center border-none focus:outline-none border border-x-2"
                  disabled
                  >
                  <button (click)="increment(item.id)" aria-label="Incrementar" class="p-2 bg-gray-300"
                  [disabled]="isLoaded()"
                  >
                    <lucide-icon name="plus"></lucide-icon>
                  </button>
                </div>
              </div>
              <hlm-dialog-footer class="mt-4" >
                <button hlmBtn class="bg-[#785131] text-white" (click)="ctx.close()">Guardar</button>
                <button hlmBtn class="bg-red-500 text-white" (click)="removeItem(item.id)">Eliminar</button>
              </hlm-dialog-footer>
            </hlm-dialog-content>
          </hlm-dialog>
        </div>
      </div>
      <div *ngIf="items().length === 0" class="w-full p-2 border-b border-gray-200 flex items-center justify-center">
        No hay productos en el carrito
      </div>
    </hlm-sheet-header>
    <div class="w-full p-2 border-t border-gray-200 mt-auto">
      <div class="flex justify-between">
        <span>Total</span>
        <span>
          <app-money [amount]="total"></app-money>
        </span>
      </div>
      <div class="mt-2 flex justify-between">
        <a
        
        routerLink="/checkout/address"
        (click)="ctx.close()"
        class="bg-[#785131] text-white px-4 py-2 rounded
        hover:bg-[#6a472c] transition-colors text-center" hlmBtn>Pagar</a>
        <button class="bg-red-500 text-white px-4 py-2 rounded" hlmBtn (click)="deleteAll()">Vaciar</button>
      </div>
    </div>
  </hlm-sheet-content>
</hlm-sheet>
