<section class="landing-section relative overflow-x-hidden h-screen w-screen flex items-center justify-center "
    data-header-color="black"
>
    <div class="justify-center items-center border border-orange-900 w-full p-20 rounded-xl text-white bg-secondary mx-24 grid grid-cols-2">
        <div class="col-span-1 ">
            <h2 class="text-5xl text-center text-pretty font-bold">Calidad significa hacerlo bien cuando nadie está mirando</h2>
            <div class="absolute right-0 top-0 mx-90 end-0">
                <img src="http://127.0.0.1:5000/static/goteo.webp" alt="goteo" class="rounded-lg w-3/4 h-auto">
            </div>
        </div>
        <div class="col-span-2 mt-10">
            <p class="text-xl">
                La calidad es fundamental para satisfacer a nuestros clientes y
                conservar su lealtad para que sigan comprándonos en el futuro.
                Los productos de calidad contribuyen de manera importante a los ingresos y la rentabilidad a largo plazo.
                También nos permiten cobrar y mantener precios más altos con la finalidad de seguir satisfaciendo a nuestros clientes. 
            </p>
        </div>
        
    </div>
</section>

