<div class="container mx-auto p-4">
  <div class="flex justify-end mb-4">
    <hlm-dialog>
      <button id="edit-profile" variant="success" brnDialogTrigger hlmBtn>Realizar compra</button>
      <hlm-dialog-content class="md:max-w-[425px] w-full" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 class="text-white" hlmDialogTitle>Compra de materia prima</h3>
        </hlm-dialog-header>
        <div class="py-4 grid gap-4">
          <div class="items-center grid grid-cols-4 gap-4">
            <label hlmLabel for="name" class="text-right text-white">Proveedor</label>

          </div>
        </div>
        <div class="py-4 grid gap-4">
          <div class="items-center grid grid-cols-4 gap-4">
            <label hlmLabel for="name" class="text-right text-white">Insumo</label>

          </div>
        </div>
        <div class="py-4 grid gap-4">
          <div class="items-center grid grid-cols-4 gap-4">
            <label hlmLabel for="name" class="text-right text-white">Presentac&oacute;n</label>

          </div>
        </div>
        <div class="py-4 grid gap-4">
          <div class="items-center grid grid-cols-4 gap-4">
            <label hlmLabel for="name" class="text-right text-white">Cantidad</label>

          </div>
        </div>
        <div class="py-4 grid gap-4">
          <div class="items-center grid grid-cols-4 gap-4">
            <label hlmLabel for="name" class="text-right text-white">Costo unitario</label>

          </div>
        </div>
        <div class="py-4 grid gap-4">
          <div class="items-center grid grid-cols-4 gap-4">
            <label hlmLabel for="name" class="text-right text-white">Caducidad</label>

          </div>
        </div>
        <hlm-dialog-footer>
          <button hlmBtn type="submit" variant="success">Solicitar</button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>
  <div class="relative overflow-x-auto">
    <hlm-table>
      <hlm-trow>
        <hlm-th>Insumo</hlm-th>
        <hlm-th>Proveedor</hlm-th>
        <hlm-th>Cantidad</hlm-th>
        <hlm-th>Precio unitario</hlm-th>
        <hlm-th>Presentaci&oacute;n</hlm-th>
        <hlm-th>Caducidad</hlm-th>
      </hlm-trow>
      <hlm-trow>
        <hlm-td>1</hlm-td>
        <hlm-td>2</hlm-td>
        <hlm-td>3</hlm-td>
        <hlm-td>4</hlm-td>
        <hlm-td>5</hlm-td>
        <hlm-td>6</hlm-td>
      </hlm-trow>
    </hlm-table>
  </div>
</div>
