<div class="container mx-auto max-h-screen overflow-y-hidden w-full p-4">
  <div class="flex-1 flex justify-center">
    <h1 class="text-5xl font-bold mt-1 mb-2 text-secondary">Compras</h1>
  </div>
  <div class="flex space-x-3 justify-end mb-4">
    <hlm-sheet side="right" class="bg-white">
      <button id="carrito" variant="warning" class="text-white" brnSheetTrigger hlmBtn>
        Lista de compras
      </button>
      <hlm-sheet-content *brnSheetContent="let ctx" class="bg-white">
        <hlm-sheet-header>
          <h3 hlmSheetTitle>Lista de compras</h3>
        </hlm-sheet-header>
        <div class="py-4 grid gap-4">
          <div *ngFor="let item of carrito">
            <div class="flex justify-between">
              <span>
                {{ item.idMP }}
              </span>
              <span>
                {{ item.quantity }}
              </span>
              <span>
                {{ item.priceSingle }}
              </span>
              <button hlmBtn variant="destructive" class="text-white" (click)="quitarItem(item)">
                Eliminar
              </button>
            </div>
          </div>
        </div>
        <div class="flex justify-between mt-4">
          <ng-container *ngIf="carrito.length > 0">
            <span class="mt-2">Total:</span>
            <span class="mt-2">${{ total }} MXN</span>
            <hlm-toaster />
            <button variant="neutral" hlmBtn (click)="sendCompra()">
              Solicitar compra
            </button>
          </ng-container>
          <ng-container *ngIf="carrito.length === 0">
            <span>No hay materia prima en el carrito</span>
          </ng-container>
        </div>
      </hlm-sheet-content>
    </hlm-sheet>

    <hlm-dialog class="bg-white">
      <button id="addcompra" brnDialogTrigger hlmBtn variant="warning" class="text-white">
        Agregar compra
      </button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Comprar materia prima</h3>
        </hlm-dialog-header>
        <form>
          <div class="py-4 grid gap-4">
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="name" class="text-right">Proveedor</label>
              <brn-popover [state]="state()" (stateChanged)="stateChanged($event)" sideOffset="5" closeDelay="100">
                <button class="w-[200px] justify-between" required variant="outline" brnPopoverTrigger hlmBtn>
                  {{ currentFramework() ? currentFramework()?.label :
                  'Seleccionar' }}
                  <hlm-icon size="sm" name="lucideChevronsUpDown" />
                </button>
                <brn-cmd *brnPopoverContent="let ctx" hlmPopoverContent hlm class="p-0 w-[200px] bg-white">
                  <hlm-cmd-input-wrapper>
                    <hlm-icon name="lucideSearch" />
                    <input placeholder="Buscar proveedor" brnCmdInput hlm />
                  </hlm-cmd-input-wrapper>
                  <div *brnCmdEmpty hlmCmdEmpty>No se encontraron resultados</div>
                  <brn-cmd-list hlm>
                    <brn-cmd-group hlm>
                      <button *ngFor="let framework of frameworks" brnCmdItem [value]="framework.value"
                        (selected)="commandSelected(framework)" hlm>
                        <hlm-icon [class.opacity-0]="currentFramework()?.value !== framework.value" name="lucideCheck"
                          hlmCmdIcon />
                        {{ framework.label }}
                      </button>
                    </brn-cmd-group>
                  </brn-cmd-list>
                </brn-cmd>
              </brn-popover>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="username" class="text-right">Materia
                Prima.</label>
              <brn-popover [state]="stateMateria()" (stateChanged)="stateChangedMateria($event)" sideOffset="5"
                closeDelay="100">
                <button class="w-[200px] justify-between" variant="outline" brnPopoverTrigger hlmBtn>
                  {{ currentMateria() ? currentMateria()?.label :
                  'Seleccionar' }}
                  <hlm-icon size="sm" name="lucideChevronsUpDown" />
                </button>
                <brn-cmd *brnPopoverContent="let ctx" hlmPopoverContent hlm class="p-0 w-[200px] bg-white">
                  <hlm-cmd-input-wrapper>
                    <hlm-icon name="lucideSearch" />
                    <input placeholder="Buscar insumo" brnCmdInput hlm />
                  </hlm-cmd-input-wrapper>
                  <div *brnCmdEmpty hlmCmdEmpty>No se encontraron resultados.</div>
                  <brn-cmd-list hlm>
                    <brn-cmd-group hlm>
                      <button *ngFor="let framework of mppF" brnCmdItem [value]="framework.material || ''"
                        (selected)="commandMateriaSelected(framework)" hlm>
                        <hlm-icon [class.opacity-0]="currentMateria()?.value !== framework.material" name="lucideCheck"
                          hlmCmdIcon />
                        {{ framework.material }}
                      </button>
                    </brn-cmd-group>
                  </brn-cmd-list>
                </brn-cmd>
              </brn-popover>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="username" class="text-right">Presentaci&oacute;n</label>
              <brn-popover [state]="statePresentation()" (stateChanged)="stateChangedPresentation($event)"
                sideOffset="5" closeDelay="100">
                <button class="w-[200px] justify-between" variant="outline" brnPopoverTrigger hlmBtn>
                  {{ currentPresentation() ? currentPresentation()?.label :
                  'Seleccionar' }}
                  <hlm-icon size="sm" name="lucideChevronsUpDown" />
                </button>
                <brn-cmd *brnPopoverContent="let ctx" hlmPopoverContent hlm class="p-0 w-[200px] bg-white">
                  <hlm-cmd-input-wrapper>
                    <hlm-icon name="lucideSearch" />
                    <input placeholder="Buscar presentación" brnCmdInput hlm />
                  </hlm-cmd-input-wrapper>
                  <div *brnCmdEmpty hlmCmdEmpty>No se encontraron resultados.</div>
                  <brn-cmd-list hlm>
                    <brn-cmd-group hlm>
                      <button *ngFor="let framework of getFilterPresent()" brnCmdItem [value]="framework.value"
                        (selected)="commandPresentationSelected(framework)" hlm>
                        <hlm-icon [class.opacity-0]="currentPresentation()?.value !== framework.value"
                          name="lucideCheck" hlmCmdIcon />
                        {{ framework.label }}
                      </button>
                    </brn-cmd-group>
                  </brn-cmd-list>
                </brn-cmd>
              </brn-popover>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="username" class="text-right">Cantidad</label>
              <input hlmInput type="number" [(ngModel)]="cantidad" name="cantidad" id="cantidad" min="0" step="1" />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="username" class="text-right">Precio</label>
              <input hlmInput type="number" [(ngModel)]="precio" name="precio" id="precio" min="0" step="1" />
            </div>
          </div>
        </form>
        <hlm-dialog-footer>
          <button hlmBtn type="submit" (click)="onSubmit()" variant="neutral">Solicitar</button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>

  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <input hlmInput class="w-full md:w-80" placeholder="Filtrar fechas" [ngModel]="_emailFilter()"
      (ngModelChange)="_rawFilterInput.set($event)" />

    <button hlmBtn variant="warning" class="text-white" align="end" [brnMenuTriggerFor]="menu">
      Ver Columnas
      <hlm-icon name="lucideChevronDown" class="ml-2" size="sm" />
    </button>
    <ng-template #menu>
      <hlm-menu class="w-32">
        @for (column of _brnColumnManager.allColumns; track column.name) {
        <button hlmMenuItemCheckbox [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
          [checked]="_brnColumnManager.isColumnVisible(column.name)"
          (triggered)="_brnColumnManager.toggleVisibility(column.name)">
          <hlm-menu-item-check />
          <span>{{ column.label }}</span>
        </button>
        }
      </hlm-menu>
    </ng-template>
  </div>

  <brn-table hlm stickyHeader class="border-border mt-4 block h-[335px] overflow-auto rounded-md border"
    [dataSource]="_filteredSortedPaginatedPayments()" [displayedColumns]="_allDisplayedColumns()" [trackBy]="_trackBy">
    <brn-column-def name="select" class="w-12">
      <hlm-th *brnHeaderDef>
        <hlm-checkbox [checked]="_checkboxState()" (changed)="handleHeaderCheckboxChange()" />
      </hlm-th>
      <hlm-td *brnCellDef="let element">
        <hlm-checkbox [checked]="_isCompraSelected(element)" (changed)="togglePayment(element)" />
      </hlm-td>
    </brn-column-def>
    <brn-column-def name="CreatedAt" class="flex-1">
      <hlm-th truncate *brnHeaderDef>Fecha de compra</hlm-th>
      <hlm-td truncate *brnCellDef="let element">
        {{ element.createdAt | titlecase }}
      </hlm-td>
    </brn-column-def>
    <brn-column-def name="Total" class="flex-1">
      <hlm-th *brnHeaderDef>Costo total</hlm-th>
      <hlm-td class="font-medium tabular-nums" *brnCellDef="let element">
        $ {{ element.total }} MXN
      </hlm-td>
    </brn-column-def>
    <brn-column-def name="Detalles" class="flex-1">
      <hlm-th *brnHeaderDef>
        Materias Primas.
      </hlm-th>
      <hlm-td class="font-medium tabular-nums" *brnCellDef="let element">
        <button hlmBtn variant="warning" class="text-white" (click)="getDetails(element || 0)">
          Detalles
        </button>
      </hlm-td>
    </brn-column-def>
    <brn-column-def name="Status" class="w-60 lg:flex-1">
      <hlm-th *brnHeaderDef>
        <button hlmBtn size="sm" variant="ghost" (click)="handleEmailSortChange()">
          Status
          <hlm-icon class="ml-3" size="sm" name="lucideArrowUpDown" />
        </button>
      </hlm-th>
      <hlm-td truncate *brnCellDef="let element">
        <ng-container [ngSwitch]="element.status">
          <span *ngSwitchCase="'Pendiente'" style="color: orange;">{{
            element.status }}</span>
          <span *ngSwitchCase="'Cancelada'" style="color: red;">{{
            element.status }}</span>
          <span *ngSwitchCase="'Entregada'" style="color: green;">{{
            element.status }}</span>
        </ng-container>
      </hlm-td>
    </brn-column-def>
    <brn-column-def name="Acciones" class="flex-1">
      <hlm-th *brnHeaderDef>
        Acciones
      </hlm-th>
      <hlm-td class="font-medium tabular-nums" *brnCellDef="let element">
        @if(element.status === 'Pendiente'){
        <brn-popover [state]="popoverStates[element.id||0] || 'closed'"
          (stateChanged)="stateChangedStatus($event, element.id||0)" sideOffset="5" closeDelay="100">
          <button class="flex-1 justify-between text-white" id="{{element.id}}" variant="warning" brnPopoverTrigger hlmBtn>
            {{ currentStatusCompras(element.id||0) ?
            currentStatusCompras(element.id||0)?.label : 'Seleccionar' }}
          </button>

          <brn-cmd id="{{element.id}}" *brnPopoverContent="let ctx" hlmPopoverContent hlm
            class="p-0 mx-2 flex-1 bg-white">
            <div *brnCmdEmpty hlmCmdEmpty>Sin resultados.</div>
            <brn-cmd-list id="{{element.id}}" hlm>
              <brn-cmd-group hlm>
                <button *ngFor="let framework of statusComp" brnCmdItem [value]="framework.value"
                  (selected)="commandStatusSelected(framework, element.id||0)" hlm>
                  <hlm-icon [class.opacity-0]="currentStatusCompras(element.id||0)?.value !== framework.value"
                    name="lucideCheck" hlmCmdIcon />
                  {{ framework.label }}
                  <span class="hidden" [(ngModel)]="idcomprastatus">{{
                    element.id
                    }}</span>
                </button>
              </brn-cmd-group>
            </brn-cmd-list>
          </brn-cmd>
        </brn-popover>
        } @else {
        <button disabled variant="warning" class="text-white" hlmBtn>
          Seleccionar
        </button>
        }
      </hlm-td>
    </brn-column-def>
    <brn-column-def name="actions" class="w-16">
      <!-- <hlm-th *brnHeaderDef></hlm-th>
      <hlm-td *brnCellDef="let element"> -->
      <!-- <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end" [brnMenuTriggerFor]="menu">
          <hlm-icon class="w-4 h-4" name="lucideMoreHorizontal" />
        </button> -->
      <!-- <ng-template #menu>
          <hlm-menu>
            <hlm-menu-label>Actions</hlm-menu-label>
            <hlm-menu-separator />
            <hlm-menu-group>
              <button hlmMenuItem>Copy payment ID</button>
            </hlm-menu-group>
            <hlm-menu-separator />
            <hlm-menu-group>
              <button hlmMenuItem>View customer</button>
              <button hlmMenuItem>View payment details</button>
            </hlm-menu-group>
          </hlm-menu>
        </ng-template> -->
      <!-- </hlm-td> -->
    </brn-column-def>
    <div class="flex items-center justify-center p-20 text-muted-foreground" brnNoDataRow>No hay datos de compras
      realizadas</div>
  </brn-table>
  <div class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
    *brnPaginator="let ctx; totalElements: _totalElements(); pageSize: _pageSize(); onStateChange: _onStateChange">
    <span class="text-sm text-muted-foreground">{{ _selected().length }} of {{ _totalElements() }} compras
    </span>
    <div class="flex mt-2 sm:mt-0">
      <brn-select class="inline-block text-white" placeholder="{{ _availablePageSizes[0] }}" [(ngModel)]="_pageSize">
        <hlm-select-trigger class="inline-flex mr-1 w-15 h-9">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content class="bg-white text-black">
          @for (size of _availablePageSizes; track size) {
          <hlm-option [value]="size" class="hover:bg-navhover">
            {{ size === 10000 ? 'All' : size }}
          </hlm-option>
          }
        </hlm-select-content>
      </brn-select>

      <div class="flex space-x-1">
        <button size="sm" variant="outline" hlmBtn [disabled]="!ctx.decrementable()" (click)="ctx.decrement()">
          Anterior
        </button>
        <button size="sm" variant="outline" hlmBtn [disabled]="!ctx.incrementable()" (click)="ctx.increment()">
          Siguiente
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="overflow-y-auto min-w-full">
    <hlm-table class="w-full min-w-full">
      <hlm-trow>
        <hlm-th class="flex-1">Fecha compra</hlm-th>
        <hlm-th class="flex-1">Costo total</hlm-th>
        <hlm-th class="flex-1">Materias Prim.</hlm-th>
        <hlm-th class="flex-1">Estatus compra</hlm-th>
        <hlm-th class="flex-1">Acciones</hlm-th>
      </hlm-trow>
      <hlm-trow *ngIf="(compras$ | async)?.length === 0">
        <hlm-td class="flex-1" colspan="5">No hay compras</hlm-td>
      </hlm-trow>
      <hlm-trow *ngFor="let compra of (compras$ | async); trackBy: trackByCompraId">
        <hlm-td class="flex-1">{{ compra.createdAt }}</hlm-td>
        <hlm-td class="flex-1">{{ compra.total }}</hlm-td>
        <hlm-td class="flex-1">
          <button hlmBtn variant="success" (click)="getDetails(compra || 0)">
            Detalles
          </button>
        </hlm-td>
        <hlm-td class="flex-1">
          <ng-container [ngSwitch]="compra.status">
            <span *ngSwitchCase="'Pendiente'" style="color: orange;">{{
              compra.status }}</span>
            <span *ngSwitchCase="'Cancelada'" style="color: red;">{{
              compra.status }}</span>
            <span *ngSwitchCase="'Entregada'" style="color: green;">{{
              compra.status }}</span>
          </ng-container>
        </hlm-td>
        <hlm-td class="flex-1">
          @if(compra.status === 'Pendiente'){
          <brn-popover [state]="popoverStates[compra.id||0] || 'closed'"
            (stateChanged)="stateChangedStatus($event, compra.id||0)" sideOffset="5" closeDelay="100">
            <button class="flex-1 justify-between" id="{{compra.id}}" variant="success" brnPopoverTrigger hlmBtn>
              {{ currentStatusCompras(compra.id||0) ?
              currentStatusCompras(compra.id||0)?.label : 'Seleccionar' }}
            </button>

            <brn-cmd id="{{compra.id}}" *brnPopoverContent="let ctx" hlmPopoverContent hlm
              class="p-0 mx-2 flex-1 bg-white">
              <div *brnCmdEmpty hlmCmdEmpty>Sin resultados.</div>
              <brn-cmd-list id="{{compra.id}}" hlm>
                <brn-cmd-group hlm>
                  <button *ngFor="let framework of statusComp" brnCmdItem [value]="framework.value"
                    (selected)="commandStatusSelected(framework, compra.id||0)" hlm>
                    <hlm-icon [class.opacity-0]="currentStatusCompras(compra.id||0)?.value !== framework.value"
                      name="lucideCheck" hlmCmdIcon />
                    {{ framework.label }}
                    <span class="hidden" [(ngModel)]="idcomprastatus">{{
                      compra.id
                      }}</span>
                  </button>
                </brn-cmd-group>
              </brn-cmd-list>
            </brn-cmd>
          </brn-popover>
          } @else {
          <button disabled variant="success" hlmBtn>
            Seleccionar
          </button>
          }
        </hlm-td>
      </hlm-trow>
    </hlm-table>
  </div> -->
</div>

<hlm-alert-dialog class="bg-admin">
  <button id="statuscompra" variant="admin" brnAlertDialogTrigger hlmBtn></button>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx" class="">
    <hlm-alert-dialog-header>
      <h3 hlmAlertDialogTitle class="text-white">Actualizar estatus de la compra</h3>
      <p hlmAlertDialogDescription class="text-white">
        Al cambiar el status de la compra, no se podrá revertir.
        ¿Estás seguro de cambiar el status de la orden?
      </p>
    </hlm-alert-dialog-header>
    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel (click)="ctx.close(closeAlert())" variant="destructive">Cancelar</button>
      <button hlmAlertDialogAction (click)="updateStatus()" variant="success">Actualizar</button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>

<hlm-dialog class="w-[700px]">
  <button class="hidden" hlmBtn variant="success" brnDialogTrigger id="edit-status-detalle">
    Detalle
  </button>
  <hlm-dialog-content class="min-w-[900px] w-full bg-white" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Materias primas de la compra</h3>
    </hlm-dialog-header>
    <div class="w-full min-w-full">
      <hlm-table>
        <hlm-trow>
          <hlm-th class="flex-1">Materia Prima</hlm-th>
          <hlm-th class="flex-1">Cantidad</hlm-th>
          <hlm-th class="flex-1">Precio unitario</hlm-th>
          <hlm-th class="flex-1">Presentaci&oacute;n</hlm-th>
          <hlm-th class="flex-1">Vencimiento</hlm-th>
          <hlm-th class="flex-1">Tipo de unidad</hlm-th>
          <hlm-th class="flex-1">Estatus</hlm-th>
          <hlm-th class="flex-1">Acciones</hlm-th>
        </hlm-trow>
        <hlm-trow *ngFor="let item of detalles">
          <hlm-td class="flex-1">
            {{ item.materiaPrima }}
          </hlm-td>
          <hlm-td class="flex-1">
            {{ item.quantity }}
          </hlm-td>
          <hlm-td class="flex-1">
            {{ item.priceSingle }}
          </hlm-td>
          <hlm-td class="flex-1">
            {{ item.presentation }}
          </hlm-td>
          <hlm-td class="flex-1">
            @if(item.status === 'Pendiente') {
            <span style="color: orange;">Pendiente</span>
            } @else {
            {{ item.expiration }}
            }
          </hlm-td>
          <hlm-td class="flex-1">
            {{ item.unitType }}
          </hlm-td>
          <hlm-td class="flex-1">
            @if (item.status === 'Pendiente'){
            <span style="color: orange;">{{ item.status }}</span>
            } @else if (item.status === 'Cancelada'){
            <span style="color: red;">{{ item.status }}</span>
            } @else {
            <span style="color: green;">{{ item.status }}</span>
            }
          </hlm-td>
          <hlm-td class="flex-1">
            @if (item.status === 'Pendiente') {
            <button variant="destructive" hlmBtn>
              Cancelar
            </button>
            } @else {
            <button disabled variant="destructive" hlmBtn>
              Cancelar
            </button>
            }
          </hlm-td>
        </hlm-trow>
      </hlm-table>
    </div>
  </hlm-dialog-content>
</hlm-dialog>
