<div class=" w-screen h-20 flex justify-between items-center sticky bottom-0 px-4">
  <div class="flex items-center border border-gray-300 rounded space-x-2 p-2 bg-white">
    
    @if (contador() == 1) {
      <button (click)="returnToProducts()" aria-label="Decrementar" class="p-2 bg-white">
        <lucide-icon name="trash"></lucide-icon>
      </button>

    }@else {
      <button (click)="decrement()" aria-label="Decrementar" class="p-2 bg-white">
        <lucide-icon name="minus"></lucide-icon>
      </button>
    }


    <input type="text" 
           [value]="contador()" 
           class="w-10 h-10 text-center border-none focus:outline-none
           border border-x-2
           " 
           aria-live="polite"
           readonly>
    <button (click)="increment()" aria-label="Incrementar" class="p-2 bg-white">
      <lucide-icon name="plus"></lucide-icon>
    </button>
  </div>
  <div class="flex space-x-2">
    <button hlmBtn class="px-4 py-2 bg-[#785131] text-white rounded transition-colors"
    (click)="agregarAlCarrito()"
    >
      Agregar y seguir comprando
    </button>
    <a hlmBtn class="px-4 py-2 bg-secondary text-white rounded hover:bg-secondary/20 transition-colors"
    (click)="setOrder()"
    >
      Agregar e ir a pagar $ {{total}}
  </a>
  </div>
</div>
