<section class="bg-green-200 relative overflow-x-hidden h-screen w-screen flex items-center justify-center">
    
    <div class="grid grid-cols-12 w-full grid-rows-12">

        <h2 class="text-center text-4xl font-bold col-span-12 row-span-3">Nuestros productos más vendidos</h2>

        <div class="col-span-1 row-auto"></div> 

        <div class="col-span-10 grid grid-cols-3 gap-32 justify-center items-center row-span-8">

            <div class="bg-white rounded-lg shadow-md flex flex-col items-center">
                <div class="p-8 flex flex-col items-center">
                    <img class="w-4/5 h-1/2 object-contain" src="http://127.0.0.1:5000/static/cafe-corazon.webp" alt="cafe-corazon">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 items-center justify-center mb-2">
                            <h3 class="text-xl font-semibold col-span-4">Americano</h3> 
                            <div class="col-span-2 flex row-auto">
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.9"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                            </div>
                        </div>
                        <p>Arabica beans are the most commonly produced variety and are considered higher quality beans</p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md flex flex-col items-center">
                <div class="p-8 flex flex-col items-center">
                    <img class="w-4/5 h-1/2 object-contain" src="http://127.0.0.1:5000/static/cafe-corazon.webp" alt="cafe-corazon">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 items-center justify-center mb-2">
                            <h3 class="text-xl font-semibold col-span-4">Capuchino</h3> 
                            <div class="col-span-2 flex row-auto">
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.9"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                            </div>
                        </div>
                        <p>Arabica beans are the most commonly produced variety and are considered higher quality beans</p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md flex flex-col items-center">
                <div class="p-8 flex flex-col items-center">
                    <img class="w-4/5 h-1/2 object-contain" src="http://127.0.0.1:5000/static/cafe-corazon.webp" alt="cafe-corazon">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 items-center justify-center mb-2">
                            <h3 class="text-xl font-semibold col-span-4">Late</h3> 
                            <div class="col-span-2 flex row-auto">
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.9"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [strokeWidth]="0.5"></lucide-icon>
                            </div>
                        </div>
                        <p>Arabica beans are the most commonly produced variety and are considered higher quality beans</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-span-1 row-auto"></div> 

    </div>
    
</section>
