<section class="landing-section bg-primary relative overflow-x-hidden h-screen w-screen flex items-center justify-center"
    data-header-color="black"
>
    
    <div class="grid grid-cols-12 w-full grid-rows-12">

        <h2 class="text-center text-4xl font-bold col-span-12 row-span-3 pt-10">Especialidad de la casa</h2>

        <div class="col-span-1 row-auto"></div> 

        <div class="col-span-10 grid grid-cols-3 gap-32 justify-center items-center row-span-8">

            <div class="bg-white rounded-lg shadow-md flex flex-col items-center">
                <div class="p-8 flex flex-col items-center">
                    <img class="w-[95%] h-1/2 object-contain rounded-md" src="http://localhost:5000/static/productos/5.webp" alt="cafe-americano">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 items-center justify-center mb-2">
                            <h3 class="text-xl font-semibold col-span-4">Café americano</h3> 
                            <div class="col-span-2 flex row-auto">
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                            </div>
                        </div>
                        <p>Café americano preparado con granos de alta calidad.</p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md flex flex-col items-center">
                <div class="p-8 flex flex-col items-center">
                    <img class="w-[95%] h-1/2 object-contain rounded-md" src="http://127.0.0.1:5000/static/productos/6.webp" alt="cafe-capuchino">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 items-center justify-center mb-2">
                            <h3 class="text-xl font-semibold col-span-4">Capuchino premier</h3> 
                            <div class="col-span-2 flex row-auto">
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                            </div>
                        </div>
                        <p>Capuccino espumoso y suave, ideal para cualquier momento del día.</p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md flex flex-col items-center">
                <div class="p-8 flex flex-col items-center">
                    <img class="w-[87%] h-1/2 object-contain rounded-md" src="http://127.0.0.1:5000/static/productos/8.webp" alt="cafe-late">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 items-center justify-center mb-2">
                            <h3 class="text-xl font-semibold col-span-4">Late</h3> 
                            <div class="col-span-2 flex row-auto">
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                                <lucide-icon name="star" [size]="16" color="#fbff00" [absoluteStrokeWidth]="true"></lucide-icon>
                            </div>
                        </div>
                        <p>Arabica beans are the most commonly produced variety and are considered higher quality beans</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-span-1 row-auto"></div> 

    </div>
    
</section>
