<main>
  <home-navbar></home-navbar>
  <div>
    <app-breadcrumb></app-breadcrumb>
  </div>
  @if(isLoading()){
    
<hlm-skeleton class='h-full w-full' />

  } @else {
    <div class="grid grid-cols-4 mt-8"> 
      @for (producto of productos; track $index) {
        <card-product
        [id]="producto.id"
        [title]="producto.nombre"
        [price]="producto.precio"
        [category]="producto.tipo"
        [description]="producto.descripcion"
        ></card-product>
      }
    </div>
  }
</main>