<main>
  <home-navbar></home-navbar>
  @if(isLoading()){
    
<hlm-skeleton class='h-full w-full' />

  } @else {
    <div class="mt-4">
      <nav-search [isHiddenInMobile]="false"/>
    </div>
    <div class="flex items-center p-4 mb-4 text-sm text-black rounded-lg bg-white mx-14 border border-gray-200 mt-4">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">Necesitas privacidad o un espacio tranquilo para trabajar?</span>
        <a routerLink="/places">
          <span class="underline"> Reserva una sala privada</span>
        </a>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 px-4">
      
      @for (producto of productos; track $index) {
        <card-product
        [id]="producto.id"
        [title]="producto.nombre"
        [price]="producto.precio"
        [category]="producto.tipo"
        [description]="producto.descripcion"
        ></card-product>
      }
    </div>
  }
</main>