<section class="landing-section relative overflow-x-hidden h-screen w-screen flex items-center justify-center bg-[#F0F0F0]" 
    data-header-color="black"
>
    <div class="parent h-[80%] w-screen flex items-center justify-center mx-20">
        <div class="div1 bg-background/50 h-full flex items-center justify-center text-center">
            <hlm-carousel >
                <hlm-carousel-content>
                    <hlm-carousel-item class="w-80 flex justify-center items-center ">
                        <h1 class="text-4xl">Conoce nuestra misión</h1>
                    </hlm-carousel-item>
                    <hlm-carousel-item class="w-80">
                        <p class="text-md text-justify">
                            En Cafetería HEAVEN, nuestra misión es ser el refugio perfecto para nuestros clientes,
                            brindándoles un espacio acogedor y tranquilo donde puedan disfrutar de momentos especiales
                            junto a un café de excelente calidad y productos deliciosos.
                        </p>
                    </hlm-carousel-item>
                </hlm-carousel-content>
                <button hlm-carousel-previous></button>
                <button hlm-carousel-next></button>
            </hlm-carousel>
        </div>

        <div class="div2 bg-secondary h-full flex items-center justify-center text-center"> 
            <hlm-carousel>
                <hlm-carousel-content>
                    <hlm-carousel-item class="w-10 flex justify-center items-center">
                        <h1 class="text-4xl">Conoce nuestros valores </h1>
                    </hlm-carousel-item>
                    <hlm-carousel-item class="w-24">
                        <h1 class="text-2xl font-bold ">Calidad</h1>
                        <p class="text-lg text-pretty text-justify ">Nos apasiona ofrecer productos de la más alta calidad.</p>
                    </hlm-carousel-item>
                    <hlm-carousel-item class="w-24">
                        <h1 class="text-2xl font-bold">Servicio</h1>
                        <p class="text-lg text-pretty text-justify">Creemos en la atención personalizada y cercana, brindando a cada cliente una experiencia única y memorable.</p>
                    </hlm-carousel-item>
                    <hlm-carousel-item class="w-24">
                        <h1 class="text-2xl font-bold ">Ambiente</h1>
                        <p class="text-lg text-pretty text-justify">Aspiramos a crear un espacio acogedor y tranquilo, donde nuestros clientes se sientan como en casa.</p>
                    </hlm-carousel-item>
                    <hlm-carousel-item class="w-24">
                        <h1 class="text-2xl font-bold ">Pasión</h1>
                        <p class="text-lg text-pretty text-center">Nos apasiona el café y todo lo que lo rodea.</p>
                    </hlm-carousel-item>
                </hlm-carousel-content>
                <button hlm-carousel-previous></button>
                <button hlm-carousel-next></button>
            </hlm-carousel>
        </div>

        <div class="div3 bg-background h-full flex items-center justify-center text-center"> 
            <hlm-carousel>
            <hlm-carousel-content>
                <hlm-carousel-item class="w-full flex justify-center items-center">
                    <h1 class="text-4xl ">Conoce nuestra historia</h1>            
                </hlm-carousel-item>
                <hlm-carousel-item class="w-36  flex justify-center items-center">
                    <p class="text-lg text-pretty text-justify">
                        Cafetería HEAVEN nació hace 5 años con el sueño de crear un lugar especial donde las personas
                        pudieran disfrutar de un café de excelente calidad en un ambiente acogedor y tranquilo. 
                        Desde el principio, nos hemos enfocado en ofrecer productos de la más alta calidad y brindar 
                        un servicio excepcional a nuestros clientes.
                    </p>            
                </hlm-carousel-item>
                <hlm-carousel-item class="w-36 flex justify-center items-center">
                    <p class="text-lg text-pretty text-justify  ">
                        Invitamos a todos a visitarnos y descubrir por qué HEAVEN es más que una simple cafetería. 
                        Es un lugar donde puedes crear momentos especiales, disfrutar de un café delicioso y sentirte como en casa.
                    </p>            
                </hlm-carousel-item>
            </hlm-carousel-content>
            <button hlm-carousel-previous></button>
            <button hlm-carousel-next></button>
            </hlm-carousel>
        </div>

        <div class="div4 bg-[#DCAA8C] h-full flex items-center justify-center text-center px-20"> 
            <hlm-carousel>
                <hlm-carousel-content>
                    <hlm-carousel-item class="w-full">
                        <h1 class="text-4xl pt-11">Conoce nuestra visión</h1>            
                    </hlm-carousel-item>
                    <hlm-carousel-item class="w-52">
                        <p class="text-lg text-pretty text-justify ">
                            Aspiramos a ser la cafetería referente en León Gto, reconocida por la calidad
                            excepcional de nuestros productos, la calidez de nuestro servicio y el ambiente
                            acogedor que ofrecemos. 
                        </p>            
                    </hlm-carousel-item>
                </hlm-carousel-content>
                <button hlm-carousel-previous></button>
                <button hlm-carousel-next></button>
                </hlm-carousel>
        </div>

    </div>

</section>
