@if (isLogged()) {     
  <button class="bg-transparent" [brnMenuTriggerFor]="menu">
    <hlm-avatar>
      <img 
      [src]="imgUrl()"
      alt='logo' hlmAvatarImage />
      <span class='text-black bg-white' hlmAvatarFallback>
        {{ initials() }}
      </span>
    </hlm-avatar>
  </button>
  <ng-template #menu >
    <hlm-menu class="bg-white px-4 py-2">
      <hlm-menu-label>
        Mi cuenta
      </hlm-menu-label>
      <hlm-menu-separator />
      <hlm-menu-group class="flex items-center gap-6">
        <lucide-icon name="settings"></lucide-icon>
        <a routerLink="/profile" class="hover:underline">
          Configuración
        </a>        
        <hlm-menu-separator />
      </hlm-menu-group>
     
      <hlm-menu-group class="flex items-center gap-6">
        <lucide-icon name="history"></lucide-icon>
        <a routerLink="/orders" class="hover:underline">
          Historial de ordenes
        </a>        
        <hlm-menu-separator />
      </hlm-menu-group>
      <hlm-menu-group class="flex items-center gap-6">
        <lucide-icon name="history"></lucide-icon>
        <a routerLink="/reservesCliente"
        class="hover:underline">
          Mis reservas
        </a>        
        <hlm-menu-separator />
      </hlm-menu-group>
      <hlm-menu-group class="flex items-center gap-6">
        <lucide-icon name="calendar"></lucide-icon>
        <a routerLink="/places"
        class="hover:underline">
          Hacer reservación
        </a>        
        <hlm-menu-separator />
      </hlm-menu-group>
      <hlm-menu-group class="flex items-center gap-6">
        <lucide-icon name="log-out"></lucide-icon>
        <button hlmMenuItem (triggered)="logout()" class="hover:underline hover:bg-white">
          <hlm-icon name="lucideUndo2" hlmMenuIcon />
          Cerrar sesión
        </button>       
        <hlm-menu-separator />
      </hlm-menu-group>
    </hlm-menu>
  </ng-template>
} @else {
<a routerLink="/login" class="cursor-pointer text-black
bg-secondary2 hover:bg-secondary/00 transition-colors 
" hlmBtn>
  Iniciar sesión
</a>
}