<div class="w-1/4 justify-center" style="margin-left: 50px; margin-top: 30px; background-color: white;">
    <ol class="relative list-decimal list-inside">
      <li class="mb-10 ms-6 flex items-center space-x-4">
        <span class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
          <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12"></svg>
        </span>
        <div>
          <h3 class="font-medium leading-tight">En orden</h3>
          <p class="text-sm">Pronto comenzará la preparación</p>
        </div>
      </li>
      <li class="mb-10 ms-6 flex items-center space-x-4">
        <span class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          <svg class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16"></svg>
        </span>
        <div>
          <h3 class="font-medium leading-tight">En preparación</h3>
          <p class="text-sm">Tu orden se está preparando</p>
        </div>
      </li>
      <li class="mb-10 ms-6 flex items-center space-x-4">
        <span class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          <svg class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20"></svg>
        </span>
        <div>
          <h3 class="font-medium leading-tight">Enviado</h3>
        </div>
      </li>
      <li class="ms-6 flex items-center space-x-4">
        <span class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          <svg class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20"></svg>
        </span>
        <div>
          <h3 class="font-medium leading-tight">Recibido</h3>
          <p class="text-sm">Disfruta de tu pedido</p>
        </div>
      </li>
    </ol>
  </div>
  
  <div class="w-3/5 flex justify-center items-center mt-5" style="background-color: white;">
    <img src="../../assets/imagenpedido.jpg" class="w-96 h-96 object-cover rounded-lg" />
  </div>
  