<div class="container mx-auto max-h-screen overflow-y-hidden w-full p-4">
    <h1 class="text-3xl mt-2 text-center font-semibold">Dashboard</h1>

    <div class="items-center grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4 mx-3 justify-center text-center">


        <div class="chart-container ">
            <h2 class="text-2xl font-semibold">Ventas totales</h2>
            <!-- <label for="selectFecha">Selecciona una fecha para filtrar las ventas</label> -->

            <select
                class="mt-1 flex items-center rounded-md border border-slate-400 bg-white text-md
                    placeholder:text-muted focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring
                    focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 lg:h-10 lg:py-2 lg:px-2 md:h-8 md:py-2 md:px-2
                    sm:h-8 sm:py-2 sm:px-2 min-w-full max-w-full w-full hover:border-hover focus-visible:border-focus "
                id="selectFecha"
                (change)="onChange($event)">
                    <option value="last_day">Último día</option>
                    <option value="last_week">Última semana</option>
                    <option value="last_month">Último mes</option>
                    <option value="last_trimester">Último trimestre</option>
            </select>



            <canvas id="ventas" class="max-h-fit">
                {{chart}}
            </canvas>
        </div>

        <div>
            <h2 class="text-2xl font-semibold">Usuarios con más ordenes</h2>
            <div class="chart-cotainer">
                <canvas id="userMostOrder" class="max-h-fit">
                    {{chart}}
                </canvas>
            </div>
        </div>

        <div class="col-span-2">
            <h2 class="text-2xl">Inventario de materia prima</h2>
            <div class="chart-container">
                <canvas id="invetoryMp" class="max-h-fit max-w-fit" >
                    {{chart}}
                </canvas>
            </div>
        </div>


        <div class="col-span-2">
            <h2 class="text-2xl mb-4">Predicciones</h2>
            <div class="grid grid-cols-2 gap-3">
                <div class="relative">
                    <div
                    class="border border-slate-600 w-full bg-white p-2 rounded flex justify-between items-center cursor-pointer"
                    (click)="toggleDropdown()"
                    >
                        <span *ngIf="!selectedLabels.length" class="text-black">Selecciona los productos</span>
                        <span *ngIf="selectedLabels.length">{{ selectedLabels.join(', ') }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>

                    <ul *ngIf="isOpen" class="absolute border border-slate-600 bg-white w-full mt-2 max-h-40 overflow-y-auto rounded shadow-lg z-10">
                        <li *ngFor="let option of availableOptions"
                            class="p-2 hover:bg-slate-100 cursor-pointer flex justify-between items-center"
                            (click)="selectOption(option)">
                                {{ option.label }}
                                <svg *ngIf="isOptionSelected(option.id)" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414L8.414 15l-3.707-3.707a1 1 0 111.414-1.414L8.414 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <input type="date" (change)="onDateChange($event)" class="border border-slate-600 w-full bg-white p-2 rounded-md " />
                </div>
            </div>
            <div class="chart-container">
                <canvas id="predict" class="max-h-full max-w-fit">
                    {{chart}}
                </canvas>
            </div>
        </div>




</div>

