<home-navbar></home-navbar>
<div class="ms-4">
  <app-breadcrumb [separator]="'>'"></app-breadcrumb>
</div>

@if (isLoading()) {
  <hlm-skeleton class="h-3 w-50"></hlm-skeleton>
} @else {
  <div class="w-full p-4 bg-white rounded-lg shadow-md">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <!-- Sección 1: Imagen del Producto -->
      <div class="col-span-1 flex justify-center items-center">
        <img src="{{ img() }}" alt="{{ product.nombre }}" class="w-full h-auto rounded-md" (error)="onImageError($event)" />
      </div>
  
      <!-- Sección 2: Detalles del Producto + Contador -->
      <div class="col-span-1 lg:col-span-2">
        <div class="flex flex-col lg:flex-row justify-between space-y-4 lg:space-y-0">
          <!-- Detalles del Producto -->
          <div class="flex flex-col space-y-4 px-16">
            <span class="text-4xl font-bold text-gray-800 text-center ">{{ product.nombre }}</span>
           <div class="flex flex-row  items-center gap-x-5 ">
            <span class="text-2xl font-bold text-gray-700">Precio:
              <span class="font-normal text-gray-600">
                <app-money [amount]="3.5"
                [baseClass]="'font-normal text-gray-600'"
                ></app-money>
              </span>
            </span>
            <span class="text-2xl font-bold text-gray-700">Categoría:
              <span class="font-normal text-gray-600">{{ product.tipo }}</span>
            </span>
           </div>
            <span class="text-2xl font-bold text-gray-700">Descripción:
              <span class="font-normal text-gray-600">{{ product.descripcion }}</span>
            </span>
            
  
            <!-- Acordeón de ingredientes -->
            <div hlmAccordion>
              <div hlmAccordionItem>
                <button hlmAccordionTrigger class="flex items-center text-2xl font-bold text-gray-700">
                  Ingredientes
                  <hlm-icon hlmAccIcon class="ml-2 text-gray-600"></hlm-icon>
                </button>
                <brn-accordion-content hlm class="p-2 bg-gray-50 rounded-lg">
                  <div class="flex flex-col space-y-1">
                    @for (item of product.ingredientes; track $index) {
                      <span class="text-md text-gray-600">{{ item.materiaPrima.material }}</span>
                    }
                    @empty {
                      <span class="text-md text-gray-600">No hay ingredientes</span>
                    }
                  </div>
                </brn-accordion-content>
              </div>
            </div>
          </div>
  
        <div>
          <product-contador
          [product]="product"
          />
        </div>
        </div>
      </div>
    </div>
  </div>
  
}
