<div class="flex-1 flex justify-center" style="width: calc(100vw - 18rem);">
    <h1 class="text-5xl font-bold pt-5 mt-5 text-secondary">Materias Primas</h1>
</div>

<div class="flex justify-end my-5 me-5 pr-5">
    <hlm-dialog>
        <button id="add-materia-trigger" brnDialogTrigger hlmBtn (click)="onAdd()" class="bg-secondary text-white">Agregar materia prima</button>
        <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
            <hlm-dialog-header>
                <h3 hlmDialogTitle>Agregar materia prima</h3>
                <p hlmDialogDescription>Ingresa los detalles de la nueva materia prima. Haz clic en guardar cuando termines.</p>
            </hlm-dialog-header>
            <form (ngSubmit)="onSubmitAdd(materiaPrimaFormAdd)" #materiaPrimaFormAdd="ngForm">
                <div class="py-4 grid gap-4">
                    <!-- Campos del formulario -->
                    <div class="items-center grid grid-cols-4 gap-4">
                        <label hlmLabel for="name-add" class="text-right">Nombre</label>
                        <input hlmInput id="name-add" name="nombre" [(ngModel)]="materiaPrima.material" placeholder="Nombre de la materia prima" class="col-span-3" required />
                    </div>
                </div>
                <hlm-dialog-footer>
                    <button hlmBtn type="submit">Guardar</button>
                </hlm-dialog-footer>
            </form>
        </hlm-dialog-content>
    </hlm-dialog>

    <hlm-dialog>
        <button id="edit-materia-trigger" brnDialogTrigger hlmBtn class="hidden">Editar materia prima</button>
        <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
            <hlm-dialog-header>
                <h3 hlmDialogTitle>Editar materia prima</h3>
                <p hlmDialogDescription>Actualiza los detalles de la materia prima. Haz clic en actualizar cuando termines.</p>
            </hlm-dialog-header>
            <form (ngSubmit)="onSubmitEdit(materiaPrimaFormEdit)" #materiaPrimaFormEdit="ngForm">
                <div class="py-4 grid gap-4">
                    <!-- Campos del formulario -->
                    <div class="items-center grid grid-cols-4 gap-4">
                        <label hlmLabel for="name-edit" class="text-right">Nombre</label>
                        <input hlmInput id="name-edit" name="nombre" [(ngModel)]="materiaPrima.material" placeholder="Nombre de la materia prima" class="col-span-3" required />
                    </div>
                </div>
                <hlm-dialog-footer>
                    <button hlmBtn type="submit">Actualizar</button>
                </hlm-dialog-footer>
            </form>
        </hlm-dialog-content>
    </hlm-dialog>
</div>

<div class="flex justify-start my-5 ms-5 pr-5">
    <input hlmInput class="w-full md:w-80" placeholder="Buscar por nombre" (input)="applyFilterFromEvent($event)" />
  </div>
  
  

<div class="overflow-x-auto p-5">
    <brn-table
        hlm
        stickyHeader
        class="border-border block h-[335px] overflow-auto rounded-md border bg-white"
        [dataSource]="(materiasPrimas$ | async) || []"
        [displayedColumns]="displayedColumns"
        [trackBy]="trackByMateriaPrimaId"
    >
        <brn-column-def name="ID" class="w-1/3 bg-white">
            <hlm-th *brnHeaderDef class="bg-white text-center flex justify-center items-center">ID</hlm-th>
            <hlm-td *brnCellDef="let element" class="bg-white text-center flex justify-center items-center">{{ element.id }}</hlm-td>
        </brn-column-def>

        <brn-column-def name="Nombre" class="w-1/3 bg-white">
            <hlm-th *brnHeaderDef class="bg-white text-center flex justify-center items-center">Nombre</hlm-th>
            <hlm-td *brnCellDef="let element" class="bg-white text-center flex justify-center items-center">{{ element.material }}</hlm-td>
        </brn-column-def>

        <brn-column-def name="actions" class="w-1/3 bg-white">
            <hlm-th *brnHeaderDef class="bg-white text-center flex justify-center items-center"></hlm-th>
            <hlm-td *brnCellDef="let element" class="bg-white flex justify-center items-center">
                <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5 hover:bg-gray-100" align="end" [brnMenuTriggerFor]="menu">
                    <hlm-icon class="w-4 h-4" name="lucideMoreHorizontal" />
                </button>

                <ng-template #menu>
                    <hlm-menu class="bg-white">
                        <hlm-menu-label>Acciones</hlm-menu-label>
                        <hlm-menu-separator />
                        <hlm-menu-group>
                            <button hlmMenuItem (click)="onEdit(element)" class="hover:bg-gray-100">Editar</button>
                        </hlm-menu-group>
                        <hlm-menu-separator />
                        <hlm-menu-group>
                            <button hlmMenuItem (click)="onDelete(element.id)" class="hover:bg-gray-100">Eliminar</button>
                        </hlm-menu-group>
                    </hlm-menu>
                </ng-template>
            </hlm-td>
        </brn-column-def>
    </brn-table>
</div>
