<div class="container mx-auto max-h-screen overflow-y-auto w-full p-4">
  <div class="flex-1 flex justify-center">
    <h1 class="text-5xl font-bold mt-1 mb-2 text-secondary">Materias Primas</h1>
  </div>

  <div class="flex space-x-3 justify-end mb-4">
    <hlm-dialog class="bg-white">
      <button id="add-materia-trigger" brnDialogTrigger hlmBtn (click)="onAdd()" variant="warning"
        class=" text-white me-0">Agregar materia prima</button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Agregar materia prima</h3>
          <p hlmDialogDescription>Ingresa los detalles de la nueva materia prima. Haz clic en guardar cuando termines.
          </p>
        </hlm-dialog-header>
        <form (ngSubmit)="onSubmitAdd(materiaPrimaFormAdd)" #materiaPrimaFormAdd="ngForm">
          <div class="py-4 grid gap-4">
            <!-- Campos del formulario -->
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="name-add" class="text-right">Nombre</label>
              <input hlmInput id="name-add" name="nombre" [(ngModel)]="materiaPrima.material"
                placeholder="Nombre de la materia prima" class="col-span-3" required />
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn type="submit" variant="warning" class="text-white">Registrar</button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>

    <hlm-dialog class="bg-white">
      <button id="edit-materia-trigger" brnDialogTrigger hlmBtn class="hidden">Editar materia prima</button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Editar materia prima</h3>
          <p hlmDialogDescription>Actualiza los detalles de la materia prima. Haz clic en actualizar cuando termines.
          </p>
        </hlm-dialog-header>
        <form (ngSubmit)="onSubmitEdit(materiaPrimaFormEdit)" #materiaPrimaFormEdit="ngForm">
          <div class="py-4 grid gap-4">
            <!-- Campos del formulario -->
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="name-edit" class="text-right">Nombre</label>
              <input hlmInput id="name-edit" name="nombre" [(ngModel)]="materiaPrima.material"
                placeholder="Nombre de la materia prima" class="col-span-3" required />
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn type="submit" variant="warning" class="text-white">Actualizar</button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>

  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <input hlmInput class="w-full md:w-80" placeholder="Buscar por nombre" (input)="applyFilterFromEvent($event)" />
    <button hlmBtn variant="warning" class="text-white me-3" align="end" [brnMenuTriggerFor]="menu">
      Ver columnas
      <hlm-icon name="lucideChevronDown" class="ml-2" size="sm" />
    </button>
    <ng-template #menu>
      <hlm-menu class="w-32 bg-white">
        <button *ngFor="let column of _brnColumnManager.allColumns; trackBy: trackByColumnName" hlmMenuItemCheckbox
          [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
          [checked]="_brnColumnManager.isColumnVisible(column.name)"
          (triggered)="_brnColumnManager.toggleVisibility(column.name)">
          <hlm-menu-item-check class="bg-white" />
          <span>{{ column.label }}</span>
        </button>
      </hlm-menu>
    </ng-template>
  </div>


  <brn-table hlm stickyHeader class="border-border mt-4 block h-[335px] overflow-auto rounded-md border"
    [dataSource]="(materiasPrimas$ | async) || []" [displayedColumns]="displayedColumns()"
    [trackBy]="trackByMateriaPrimaId">

    <brn-column-def name="ID" class="w-12">
      <hlm-th *brnHeaderDef>
        <!-- <hlm-checkbox [checked]="_checkboxState()" (changed)="handleHeaderCheckboxChange()" /> -->
      </hlm-th>
      <hlm-td *brnCellDef="let element">
        <!-- <hlm-checkbox [checked]="_isCompraSelected(element)" (changed)="togglePayment(element)" /> -->
      </hlm-td>
    </brn-column-def>

    <brn-column-def name="Nombre" class="flex-1">
      <hlm-th *brnHeaderDef>Nombre</hlm-th>
      <hlm-td *brnCellDef="let element">{{
        element.material }}</hlm-td>
    </brn-column-def>

    <brn-column-def name="Estatus" class="flex-1">
      <hlm-th *brnHeaderDef>Estatus</hlm-th>
      <hlm-td *brnCellDef="let element">
        @if (element.status === 1){
        <span class="text-green-500">Activo</span>
        } @else {
        <span class="text-red-500">Inactivo</span>
        }
      </hlm-td>
    </brn-column-def>

    <brn-column-def name="actions" class="flex-1">
      <hlm-th *brnHeaderDef>
        Acciones
      </hlm-th>
      <hlm-td *brnCellDef="let element" class="">
        <button hlmBtn variant="warning" class="text-white" (click)="onEdit(element)">
          Editar
        </button>
        &nbsp;
        <hlm-alert-dialog>
          <button id="edit-profile" variant="destructive" class="text-white" brnAlertDialogTrigger hlmBtn>Eliminar</button>
          <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
            <hlm-alert-dialog-header>
              <h3 hlmAlertDialogTitle>Confirmar eliminaci&oacute;n</h3>
              <p hlmAlertDialogDescription>
                Al confirmar esta acci&oacute;n, la materia prima ser&aacute; eliminada de forma permanente.
              </p>
            </hlm-alert-dialog-header>
            <hlm-alert-dialog-footer>
              <button hlmAlertDialogCancel (click)="ctx.close()">Cancelar</button>
              <button hlmAlertDialogAction class="text-white" (click)="onDelete(element.id)">Eliminar</button>
            </hlm-alert-dialog-footer>
          </hlm-alert-dialog-content>
        </hlm-alert-dialog>
      </hlm-td>
    </brn-column-def>
  </brn-table>
</div>

<div class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center px-5"
  *brnPaginator="let ctx; totalElements: _totalElements(); pageSize: _pageSize(); onStateChange: _onStateChange">
  <span class="text-sm text-muted-foreground">{{ _totalElements() }} Materias Primas</span>
  <div class="flex mt-2 sm:mt-0">
    <brn-select class="inline-block text-white" placeholder="{{ _availablePageSizes[0] }}" [(ngModel)]="_pageSize">
      <hlm-select-trigger class="inline-flex mr-1 w-15 h-9" variant="warning">
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content class="bg-white text-black">
        <hlm-option *ngFor="let size of _availablePageSizes" [value]="size" class="hover:bg-navhover">
          {{ size === 10000 ? 'Todo' : size }}
        </hlm-option>
      </hlm-select-content>
    </brn-select>

    <div class="flex space-x-1">
      <button size="sm" variant="outline" hlmBtn [disabled]="!ctx.decrementable()" (click)="ctx.decrement()">
        Anterior
      </button>
      <button size="sm" variant="outline" hlmBtn [disabled]="!ctx.incrementable()" (click)="ctx.increment()">
        Siguiente
      </button>
    </div>
  </div>
</div>
