.hidden {
  display: none;
}

.search-result {
  display: flex;
  align-items: center;
}

.search-result img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.search-result span {
  font-size: 14px;
}
