<nav class="grid grid-cols-3 items-center bg-background p-6 w-full sticky top-0 z-10">
  <div class="flex items-center flex-shrink-0 text-white">
    <span class="font-semibold text-xl tracking-tight">
      <a routerLink="/products" class="cursor-pointer text-2xl font-bold text-white">
        Heaven 
      </a>

      @if (isLogged()) {
        <p>
          {{puntos()}} puntos
        </p>
      }
    </span>

  </div>
  
  <div class="col-span-0 md:col-span-1">
    <div class="max-w-lg mx-auto">
      <nav-search [isHiddenInMobile]="true"/>
    </div>
  </div>

  <div class="flex items-center gap-x-4 justify-self-end">
    <app-cart/>
    
    <nav-reserve/>
    
    <div>
      <nav-icon [isLogged]="isLogged()"></nav-icon>
    </div>
  </div>
</nav>
