<div class="container mx-auto max-h-screen overflow-y-auto w-full p-4">
  
 

  
  <div class="flex-1 flex justify-center">
    <h1 class="text-5xl font-bold mt-1 mb-6 text-secondary">Reservas</h1>
  </div> <div class="flex items-center mb-4 space-x-4">
    <!-- Buscador -->
    <input
      type="text"
      placeholder="Buscar órdenes..."
      [(ngModel)]="searchTerm"
      class="p-2 border border-gray-300 rounded-lg w-80"
    />

    <select
      [(ngModel)]="selectedFilter"
      class="p-2 border border-gray-300 rounded-lg"
      >
      <option value="">Todos</option>
      <option value="Pagado">Pagado</option>
      <option value="Finalizada">Finalizada</option>
      <option value="Cancelado">Cancelado</option>
    
    </select>
    </div>


  <!-- Mostrar errores -->
  <div *ngIf="error" class="text-red-500">{{ error }}</div>

  <!-- Lista de reservas -->
  <div class="space-x-3 mb-4">
    <div *ngIf="orders.length > 0" class="space-y-6">
      <div *ngFor="let order of filteredOrders()"
        class="bg-white border border-gray-200 rounded-lg shadow-md p-6 flex items-start">
        <!-- Contenedor de imagen y datos -->
        <div class="flex-1 flex space-x-6">
          <!-- Imagen del espacio -->
          <img [src]="'http://localhost:5000/static/places/' + order.detailReserva.idEspacio + '.webp'"
            alt="Espacio Imagen" class="w-32 h-32 object-cover rounded-lg" />

          <!-- Datos de la reserva -->
          <div class="flex-1">
            <h5 class="mb-2 text-2xl font-bold text-gray-900">
              Reserva: {{ order.detailReserva.idEspacio }}
            </h5>
            <p class="text-gray-500">Fecha: {{ order.detailReserva.fecha | date: 'shortDate' }}</p>
            <p class="text-gray-500">Inicio: {{ order.detailReserva.horaInicio }}</p>
            <p class="text-gray-500">Fin: {{ order.detailReserva.horaFin }}</p>
          </div>
        </div>

        <!-- Contenedor para el semáforo y el select -->
        <div class="flex flex-col items-center ml-auto">
          <!-- Semáforo -->
          <div class="flex space-x-2 mb-1">
            <button [ngStyle]="{'background-color': getStatusColor(order.estatus, 1)}"
              class="w-3 h-3 rounded-full"></button>
            <button [ngStyle]="{'background-color': getStatusColor(order.estatus, 2)}"
              class="w-3 h-3 rounded-full"></button>
            <button [ngStyle]="{'background-color': getStatusColor(order.estatus, 3)}"
              class="w-3 h-3 rounded-full"></button>
          </div>
          <!-- Leyenda del estatus -->
          <p class="text-gray-700">{{ order.estatus }}</p>


          @if (order.estatus == "Pagado") {
          <select (change)="updateStatus(order.detailReserva.idDetailReser, $event)" class="mt-2 p-1 border rounded"
            variant="warning">
            <option value="">Cambiar estatus</option>
            <option value="Cancelada">Cancelar</option>
            <option value="Finalizada">Finalizar</option>
          </select>}
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje si no hay reservas -->
  <div *ngIf="orders.length === 0" class="text-center text-gray-500">
    No tienes reservas aún.
  </div>
</div>
