<div class="container mx-auto max-h-screen overflow-y-auto w-full p-4">
  <div class="flex-1 flex justify-center">
    <h1 class="text-5xl font-bold mt-1 mb-2 text-secondary">Productos</h1>
  </div>

  <div class="flex space-x-3 justify-end mb-4">
    <!-- Botón para agregar producto -->
    <hlm-dialog class="bg-white">
      <button
        id="add-product-trigger"
        brnDialogTrigger
        hlmBtn
        (click)="onAdd()"
        variant="warning"
        class="text-white"
      >
        Agregar producto
      </button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Agregar producto</h3>
          <p hlmDialogDescription>
            Ingresa los detalles del nuevo producto. Haz clic en guardar cuando
            termines.
          </p>
        </hlm-dialog-header>
        <form
          (ngSubmit)="onSubmitAdd(productoFormAdd)"
          #productoFormAdd="ngForm"
        >
          <div class="py-4 grid gap-4">
            <!-- Campos del formulario -->
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="name-add" class="text-right">Nombre</label>
              <input
                hlmInput
                id="name-add"
                name="nombre"
                [(ngModel)]="producto.nombre"
                placeholder="Nombre del producto"
                class="col-span-3"
                required
              />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="precio-add" class="text-right">Precio</label>
              <input
                hlmInput
                id="precio-add"
                name="precio"
                type="number"
                [(ngModel)]="producto.precio"
                placeholder="Precio del producto"
                class="col-span-3"
                required
              />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="description-add" class="text-right"
                >Descripción</label
              >
              <input
                hlmInput
                id="description-add"
                name="descripcion"
                [(ngModel)]="producto.descripcion"
                placeholder="Descripción del producto"
                class="col-span-3"
              />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="tipo-add" class="text-right">Tipo</label>
              <select
                hlmInput
                id="tipo-add"
                name="tipo"
                [(ngModel)]="producto.tipo"
                class="col-span-3"
              >
                <option value="Comidas">Comidas</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Postres">Postres</option>
              </select>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="temperatura-add" class="text-right"
                >Temperatura</label
              >
              <select
                id="temperatura-add"
                name="temperatura"
                [(ngModel)]="producto.temperatura"
                hlmInput
                class="col-span-3"
              >
                <option value="caliente">Caliente</option>
                <option value="frio">Frío</option>
              </select>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="imagen-add" class="text-right">Imagen</label>
              <input
                hlmInput
                type="file"
                id="imagen-add"
                name="imagen"
                class="col-span-3"
                (change)="onFileChange($event)"
              />
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn type="submit" variant="warning" class="text-white">
              Registrar
            </button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>

    <!-- Botón para editar producto (se muestra al hacer clic en "Editar" en la lista de productos) -->
    <hlm-dialog>
      <button id="edit-product-trigger" brnDialogTrigger hlmBtn class="hidden">
        Editar producto
      </button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Editar producto</h3>
          <p hlmDialogDescription>
            Actualiza los detalles del producto. Haz clic en actualizar cuando
            termines.
          </p>
        </hlm-dialog-header>
        <form
          (ngSubmit)="onSubmitEdit(productoFormEdit)"
          #productoFormEdit="ngForm"
        >
          <div class="py-4 grid gap-4">
            <!-- Campos del formulario -->
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="name-edit" class="text-right">Nombre</label>
              <input
                hlmInput
                id="name-edit"
                name="nombre"
                [(ngModel)]="producto.nombre"
                placeholder="Nombre del producto"
                class="col-span-3"
                required
              />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="precio-edit" class="text-right"
                >Precio</label
              >
              <input
                hlmInput
                id="precio-edit"
                name="precio"
                type="number"
                [(ngModel)]="producto.precio"
                placeholder="Precio del producto"
                class="col-span-3"
                required
              />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="description-edit" class="text-right"
                >Descripción</label
              >
              <input
                hlmInput
                id="description-edit"
                name="descripcion"
                [(ngModel)]="producto.descripcion"
                placeholder="Descripción del producto"
                class="col-span-3"
              />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="tipo-add" class="text-right">Tipo</label>
              <select
                hlmInput
                id="tipo-add"
                name="tipo"
                [(ngModel)]="producto.tipo"
                class="col-span-3"
              >
                <option value="Comidas">Comidas</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Postres">Postres</option>
              </select>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="temperatura-edit" class="text-right"
                >Temperatura</label
              >
              <select
                id="temperatura-edit"
                name="temperatura"
                [(ngModel)]="producto.temperatura"
                hlmInput
                class="col-span-3"
              >
                <option value="caliente">Caliente</option>
                <option value="frio">Frío</option>
              </select>
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="imagen-edit" class="text-right"
                >Imagen</label
              >
              <input
                hlmInput
                type="file"
                id="imagen-edit"
                name="imagen"
                class="col-span-3"
                (change)="onFileChange($event)"
              />
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn type="submit" variant="warning" class="text-white">
              Actualizar
            </button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>

  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <input
      hlmInput
      class="w-full md:w-80"
      placeholder="Buscar por producto"
      (input)="applyFilterFromEvent($event)"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-5">
    <div
      *ngFor="
        let product of filteredProductos$ | async;
        trackBy: trackByProductId
      "
      class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between"
    >
      <div>
        <img
          [src]="getImagenUrl(product.id!)"
          alt="{{ product.nombre }}"
          class="w-full h-48 object-cover rounded-t-lg"
          (error)="onImageError($event)"
        />
        <div class="p-4">
          <h2 class="text-xl font-bold">{{ product.nombre }}</h2>
          <p class="text-gray-600" style="text-align: justify">
            {{ product.descripcion }}
          </p>
        </div>
      </div>
      <div class="flex justify-end space-x-2 pe-3">
        <button
          hlmBtn
          variant="warning"
          (click)="onEdit(product)"
          class="text-white px-4 py-2 rounded"
        >
          Editar
        </button>
        <hlm-alert-dialog>
          <button
            id="edit-profile"
            variant="destructive"
            class="text-white"
            brnAlertDialogTrigger
            hlmBtn
          >
            Eliminar
          </button>
          <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
            <hlm-alert-dialog-header>
              <h3 hlmAlertDialogTitle>Confirmar eliminaci&oacute;n</h3>
              <p hlmAlertDialogDescription>
                Al confirmar esta acci&oacute;n, el producto ser&aacute;
                eliminado de la base de datos.
              </p>
            </hlm-alert-dialog-header>
            <hlm-alert-dialog-footer>
              <button hlmAlertDialogCancel (click)="ctx.close()">
                Cancelar
              </button>
              <button
                hlmAlertDialogAction
                class="text-white"
                (click)="onDelete(product.id!)"
              >
                Eliminar
              </button>
            </hlm-alert-dialog-footer>
          </hlm-alert-dialog-content>
        </hlm-alert-dialog>
      </div>
    </div>
  </div>
</div>
