<main class="flex flex-row w-screen h-screen">
  <section class="bg-primary text-black text-center w-1/2 h-screen">
    <div class="flex flex-col justify-center items-center h-full space-y-4">
      <img
        src="http://127.0.0.1:5000/static/logo.webp"
        alt="logo"
        width="140"
        height="140"
      />
      <h2 class="text-3xl font-bold text-secondary">Bienvenido de vuelta</h2>
      <label class="text-start">
        Correo electrónico
        <input
          class="w-80"
          hlmInput
          type="email"
          placeholder="Email"
          ngModel
          [formField]="formModel.controls.username"
        />
      </label>
      @if (formModel.controls.username.touched()) { @if
      (formModel.controls.username.hasError('required')) {
      <div class="text-red-500 text-sm">El correo electrónico es requerido</div>
      } @if (formModel.controls.username.hasError('minLength')) {
      <div class="text-red-500 text-sm">
        El correo electrónico debe tener al menos 4 caracteres
      </div>
      } @else if (formModel.controls.username.hasError('maxLength')) {
      <div class="text-red-500 text-sm">
        El correo electrónico debe tener menos de 50 caracteres
      </div>
      } @else if (formModel.controls.username.hasError('email')) {
      <div class="text-red-500 text-sm">El correo electrónico no es válido</div>
      } }
      <label class="text-start">
        Contraseña
        <input
          class="w-80"
          hlmInput
          type="password"
          placeholder="Contraseña"
          ngModel
          [formField]="formModel.controls.password"
        />
      </label>
      @if (formModel.controls.password.touched()) { @if
      (formModel.controls.password.hasError('required')) {
      <div class="text-red-500 text-sm">La contraseña es requerida</div>
      } @if (formModel.controls.password.hasError('minLength')) {
      <div class="text-red-500 text-sm">
        La contraseña debe tener al menos 4 caracteres
      </div>
      } @else if (formModel.controls.password.hasError('maxLength')) {
      <div class="text-red-500 text-sm">
        La contraseña debe tener menos de 50 caracteres
      </div>
      } }
      <div class="flex flex-row justify-end w-80">
        <a
          class="text-sm text-gray-400/80 hover:text-gray-400 hover:underline"
          href="#"
        >
          ¿Olvidaste tu contraseña?
        </a>
      </div>

      <div>
        <button
          class="w-80 h-10 bg-secondary text-white rounded-md mt-4"
          (click)="login()"
        >
          Iniciar sesión
        </button>
      </div>
    </div>
  </section>
  <section class="bg-background text-white text-center w-1/2 h-screen">
    <div class="flex flex-col justify-center items-center h-full">
      <h1 class="text-2xl font-bold">웃고 쉬세요</h1>

      <img
        src="http://127.0.0.1:5000/static/cafe-corazon.webp"
        alt="cafe-corazon"
        class="w-1/2"
      />

      <h2 class="text-3xl font-bold">Harmonía, Serenidad y Sabor</h2>

      <div class="w-1/2 mt-2">
        <p class="text-sm">
          Cada sorbo y bocado te transporta al corazón de Asia. Disfruta de una
          experiencia única donde la tradición y el sabor se encuentran en
          perfecta armonía.
        </p>
      </div>
    </div>
  </section>
</main>
