<div class="flex-1 flex justify-center" style="width: calc(100vw - 18rem);">
    <h1 class="text-5xl font-bold pt-5 mt-5 text-secondary">Inventario Postres</h1>
  </div>
  
  <div class="flex justify-end my-5 me-5 pr-5">
    <!-- Botón para agregar inventario -->
    <hlm-dialog>
      <button id="add-inventario-trigger" brnDialogTrigger hlmBtn (click)="onAdd()" class="bg-secondary text-white">Agregar Inventario</button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Agregar Inventario</h3>
          <p hlmDialogDescription>Ingresa los detalles del nuevo inventario. Haz clic en guardar cuando termines.</p>
        </hlm-dialog-header>
        <form (ngSubmit)="onSubmitAdd(inventarioFormAdd)" #inventarioFormAdd="ngForm">
          <div class="py-4 grid gap-4">
            <!-- Campos del formulario -->
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="idProducto-add" class="text-right">ID Producto</label>
              <input hlmInput id="idProducto-add" name="idProducto" type="number" [(ngModel)]="inventario.idProducto" placeholder="ID del producto" class="col-span-3" required />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="cantidad-add" class="text-right">Cantidad</label>
              <input hlmInput id="cantidad-add" name="cantidad" type="number" [(ngModel)]="inventario.cantidad" placeholder="Cantidad" class="col-span-3" required />
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn type="submit">Guardar</button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>
  
    <!-- Botón para editar inventario (se muestra al hacer clic en "Editar" en la lista de inventarios) -->
    <hlm-dialog>
      <button id="edit-inventario-trigger" brnDialogTrigger hlmBtn class="hidden">Editar Inventario</button>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Editar Inventario</h3>
          <p hlmDialogDescription>Actualiza los detalles del inventario. Haz clic en actualizar cuando termines.</p>
        </hlm-dialog-header>
        <form (ngSubmit)="onSubmitEdit(inventarioFormEdit)" #inventarioFormEdit="ngForm">
          <div class="py-4 grid gap-4">
            <!-- Campos del formulario -->
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="idProducto-edit" class="text-right">ID Producto</label>
              <input hlmInput id="idProducto-edit" name="idProducto" type="number" [(ngModel)]="inventario.idProducto" placeholder="ID del producto" class="col-span-3" required />
            </div>
            <div class="items-center grid grid-cols-4 gap-4">
              <label hlmLabel for="cantidad-edit" class="text-right">Cantidad</label>
              <input hlmInput id="cantidad-edit" name="cantidad" type="number" [(ngModel)]="inventario.cantidad" placeholder="Cantidad" class="col-span-3" required />
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn type="submit">Actualizar</button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>
  
  <div class="overflow-x-auto p-5">
    <table class="table-auto w-full text-center">
      <thead>
        <tr>
          <th class="px-4 py-2">ID Postre</th>
          <th class="px-4 py-2">ID Producto</th>
          <th class="px-4 py-2">Cantidad</th>
          <th class="px-4 py-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventario of (inventarios$ | async); trackBy: trackByInventarioId">
          <td class="border px-4 py-2">{{ inventario.idPostre }}</td>
          <td class="border px-4 py-2">{{ inventario.idProducto }}</td>
          <td class="border px-4 py-2">{{ inventario.cantidad }}</td>
          <td class="border px-4 py-2">
            <button (click)="onEdit(inventario)" class="bg-white text-secondary px-4 py-2 rounded border border-secondary mr-4">Editar</button>
            <button (click)="onDelete(inventario.idPostre!)" class="bg-secondary text-white px-4 py-2 rounded">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
