<main>
    <header class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40" id="landing-header">
        
        <div class="flex flex-grow basis-auto">
            <a href="#sectionInicio">

                <img style="max-width:70px" src="http://localhost:5000/static/logo.webp" alt="logo-heaven" id="logo-png">
                <img src="http://localhost:5000/static/logo.webp"  alt="logo-haven" style="max-width: 70px;" id="logo-webp">

            </a>
        </div>

        <nav class="flex flex-grow basis-auto">
            <ul class="flex text-lg [&>li>a]:transition-colors [&>li>a]:duration-200 [&>li>a]:text-current [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2 items-center justify-center">
                <li class="pe-2 flex items-center">
                    <lucide-icon name="house"/> 
                    <a href="#sectionInicio">Inicio</a>
                </li>
                <li class="pe-2 flex items-center">
                    <lucide-icon name="badge-info"/> 
                    <a href="#sectionValores">Sobre nosotros</a>
                </li>
                <li class="pe-2 flex items-center">
                    <lucide-icon name="store"/> 
                    <a routerLink="products">Comprar</a>
                </li>
                <li class="relative flex items-center group">
                    <lucide-icon name="menu"/> 
                    <a routerLink="places" class="me-6">Reservaciones</a>
                </li>
            </ul>
        </nav>
        
    </header>

    
    
</main>


