<main>
    <header class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
        
        <div class="flex flex-grow basis-auto">
            <img src="http://127.0.0.1:5000/static/logo.webp" alt="logo-heaven">
        </div>

        <nav class="flex flex-grow basis-auto">
            <ul class="flex text-md [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
                <li><a href="#"><lucide-icon name="house"></lucide-icon> Inicio</a></li>
                <li><a href="#"><lucide-icon name="badge-info"></lucide-icon> Sobre nosotros</a></li>
                <li><a href="#"><lucide-icon name="store"></lucide-icon> Comprar</a></li>
                <li><a href="#"><lucide-icon name="menu"></lucide-icon> Menú</a></li>
            </ul>
        </nav>


    </header>
</main>
