<!-- place.component.html -->
<div style="margin-top: 40px; padding-top: 40px; padding-right: 80px; padding-left: 80px;">

  
      <div class="flex-container" style="display: flex; flex-wrap: wrap; gap: 50px;">
        <div *ngFor="let espacio of espacios" class="flex-item max-w-sm bg-white border border-gray-200 rounded-lg shadow">
          <img class="rounded-t-lg" [src]="'http://localhost:5000/static/places/' + espacio.idEspacio + '.webp'" alt="" style="width: 100%; height: 300px;" />
          <div class="p-5">
            <a (click)="verDetalle(espacio.idEspacio)">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ espacio.nombre }}</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ espacio.descripcion }}</p>
          <button 
          (click)="verDetalle(espacio.idEspacio)"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 " style="background-color: #A6754C;">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </button>
        </div>

      </div>
    </div>
  </div>

