<home-navbar></home-navbar>
<section class="flex flex-col items-center justify-between p-4 h-[calc(100vh-3rem)] w-screen">
  <div class="grid grid-cols-12 w-full h-full p-8">
    <div class="col-span-4 only-border-right h-full">
      <div>
        <h2
        class="text-2xl font-bold mb-8"
        >Tus direcciones</h2>
        @for (dir of address().direcciones; track $index) {
          <div class="flex justify-between items-center borde rounded-lg px-4 py-2 my-2 shadow-lg  w-full border border-gray-50/30 bg-slate-50">
            <div class="flex items-center w-full">
              <lucide-icon name="house"></lucide-icon>
              <span class="mx-2 truncate w-full">
                {{dir.calle}}, {{dir.colonia}}
              </span>
            </div>
            
            <div class="flex items-center space-x-2">
              <hlm-alert-dialog>
                <button id='edit-profile' brnAlertDialogTrigger hlmBtn class="bg-slate-50">
                  <lucide-icon name='trash'></lucide-icon>
                </button>
                <hlm-alert-dialog-content *brnAlertDialogContent='let ctx'>
                  <hlm-alert-dialog-header>
                    <h3 hlmAlertDialogTitle>¿Estás seguro que deseas eliminar esta dirección?</h3>
                    <p hlmAlertDialogDescription>
                      Esta acción no se puede deshacer. Esto eliminará la dirección de tu cuenta.
                    </p>
                  </hlm-alert-dialog-header>
                  <hlm-alert-dialog-footer>
                    <button hlmAlertDialogCancel (click)='ctx.close()'>Cancelar</button>
                    <button hlmAlertDialogAction (click)='ctx.close()' (click)="onDeleteAddress(dir)">Eliminar dirección</button>
                  </hlm-alert-dialog-footer>
                </hlm-alert-dialog-content>
              </hlm-alert-dialog>
              <button (click)="onClickEdit(dir)">
                <lucide-angular name="pencil"></lucide-angular>
              </button>
            </div>
          </div>
        }
      </div>
    </div>
    
    <div class="col-span-8 px-4">
      <h2
      class="text-2xl font-bold"
      >Agregar dirección</h2>
      <div>
        <form class="grid grid-cols-2 gap-4">
          <div class=" col-span-2">
            <label
            class="block text-sm font-medium text-gray-700"
            >Calle</label>
            <input
              type="text"
              hlmInput
              ngModel
              class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4"
              [ngModelOptions]="{standalone: true}"
              [formField]="formModel.controls.calle"
            />
            @if (formModel.controls.calle.touched()) {
              @if (formModel.controls.calle.hasError('required')) {
                <div class="text-red-500 text-sm">El correo electrónico es requerido</div>
              } @else if (formModel.controls.calle.hasError('maxLength')) {
                <div class="text-red-500 text-sm">El correo electrónico debe tener menos de 50 caracteres</div>
              } @else if (formModel.controls.calle.hasError('email')) {
                <div class="text-red-500 text-sm">El correo electrónico no es válido</div>
              }
            }
          </div>
          <div>
            <label
            class="block text-sm font-medium text-gray-700"
            >Colonia</label>
            <input
              type="text"
              hlmInput
              ngModel
              [ngModelOptions]="{standalone: true}"
              [formField]="formModel.controls.colonia"
              class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" 
            />
            @if (formModel.controls.colonia.touched()) {
              @if (formModel.controls.colonia.hasError('required')) {
                <div class="text-red-500 text-sm">La colonia es requerida</div>
              } @else if (formModel.controls.colonia.hasError('maxLength')) {
                <div class="text-red-500 text-sm">La colonia debe tener menos de 50 caracteres</div>
              }
            }
          </div>
          <div>
            <label>Ciudad</label>
            <input
              type="text"
              hlmInput
              ngModel
              [ngModelOptions]="{standalone: true}"
              [formField]="formModel.controls.ciudad"
              class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" 
            />
            @if (formModel.controls.ciudad.touched()) {
              @if (formModel.controls.ciudad.hasError('required')) {
                <div class="text-red-500 text-sm">La ciudad es requerida</div>
              } @else if (formModel.controls.ciudad.hasError('maxLength')) {
                <div class="text-red-500 text-sm">La ciudad debe tener menos de 50 caracteres</div>
              }
            }
          </div>
          <div>
            <label>
              Número exterior
            </label>
            <input
              type="text"
              hlmInput
              ngModel
              [ngModelOptions]="{standalone: true}"
              [formField]="formModel.controls.numeroExterior"
              class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
            @if (formModel.controls.numeroExterior.touched()) {
              @if (formModel.controls.numeroExterior.hasError('required')) {
                <div class="text-red-500 text-sm">El número exterior es requerido</div>
              } @else if (formModel.controls.numeroExterior.hasError('maxLength')) {
                <div class="text-red-500 text-sm">El número exterior debe tener menos de 10 caracteres</div>
              }
            }
          </div>
          <div>
            <label>Código postal</label>
            <input
              type="text"
              hlmInput
              ngModel
              [ngModelOptions]="{standalone: true}"
              [formField]="formModel.controls.codigoPostal"
              class="flex h-10 w-full rounded-md border-2 px-4 py-1.5 text-lg ring-offset-background focus-visible:outline-none focus-visible:border-purple-600 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-4" />
            @if (formModel.controls.codigoPostal.touched()) {
              @if (formModel.controls.codigoPostal.hasError('required')) {
                <div class="text-red-500 text-sm">El código postal es requerido</div>
              } @else if (formModel.controls.codigoPostal.hasError('maxLength')) {
                <div class="text-red-500 text-sm">El código postal debe tener menos de 10 caracteres</div>
              }
            }
          </div>
          
         
          <div class="col-span-2">
           <div class="flex justify-between">
            @if(isEdit()){
              <button hlmBtn
              variant="primary"
              (click)="onEditAddress()"
              >Editar dirección</button>
             }@else {
              <button hlmBtn
              variant="primary"
              (click)="onCreatedAddress()"
              >Agregar dirección</button>
             }
  
            
              <button hlmBtn
              variant="destructive"
              class="text-white"
              (click)="onClearForm()"
              >Cancelar</button>
           </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
